
input {
    background-color: #393939;
    border: #556 1px solid;
    color: #fff;
}

select {
    background:#393939;
    border:#556 1px solid;
    color:#fff;
}


.checkbox, .radio {
	margin:0px 4px 0px 0px; padding:0;
	border:0;
	background-color: transparent;
}

input.email {
	width:200px;
}

input.button {
	width:100px;
}

input.registerinput {
	width:250px;
}

/* fieldset */
fieldset {
	border:1px solid #aaa;
	margin-top:5px; padding:10px 10px 5px 10px;
}


.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 0.2rem;
    justify-content: center;
}

.login-label {
    width: 105px;
    min-width: 105px;
    max-width: 105px;
    text-align: left;
}

.login-input {
    flex: 1;
    padding: 0.05rem;
    box-sizing: border-box;
    width: 11.5rem;
    min-width: 11.5rem;
    max-width: 11.5rem;
    margin-left: 0.5rem;
}

.login-button {
    margin-top: 0.5rem;
    padding: 0.1rem 2rem;
    text-align: center;
    background-color: #393939;
    border: #556 1px solid;
    color: #fff;
    cursor: pointer;
}

.lostpass-errors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.1rem;
}

.lostpassword {
    flex: 1;
}