{% load static %}{% load nexus_extras %}
<div id="account-options">
    <!-- Affichage des erreurs -->
    {% if errors %}
        <fieldset>
            <legend class="error">&nbsp;Erreur&nbsp;</legend>
            <div>
                <p class="error">
                    {% for error in errors %}
                        {{ error }}
                    {% endfor %}
                </p>
            </div>
        </fieldset>
    {% endif %}

    <!-- Modification de l'email -->
    <fieldset>
        <legend>&nbsp;Modification de votre e-mail&nbsp;</legend>
        <form method="post" action="{% url 'nexus:update_email' %}" autocomplete="off">
            {% csrf_token %}
            <p>Veuillez utiliser ce formulaire pour modifier votre adresse e-mail.</p>
            <table>
                <tr>
                    <td align="right"><label for="email_password">Votre mot de passe :</label></td>
                    <td><input type="password" class="registerinput" name="old_password" id="email_password" maxlength="16" required /></td>
                </tr>
                <tr>
                    <td align="right"><label for="email">Votre nouvelle adresse e-mail :</label></td>
                    <td><input type="email" class="registerinput" name="email" id="email" maxlength="64" required /></td>
                </tr>
            </table>
            <p class="submit">
                <button type="submit" class="button">Valider</button>
            </p>
        </form>
    </fieldset>

    <!-- Modification du mot de passe -->
    <fieldset>
        <legend>&nbsp;Modification de votre mot de passe&nbsp;</legend>
        <form method="post" action="{% url 'nexus:update_password' %}" id="password-form" autocomplete="off">
            {% csrf_token %}
            <p>Veuillez utiliser ce formulaire pour modifier votre mot de passe.</p>
            <table>
                <tr>
                    <td align="right"><label for="old_password">Votre mot de passe :</label></td>
                    <td><input type="password" class="registerinput" name="old_password" id="old_password" maxlength="16" required /></td>
                </tr>
                <tr>
                    <td align="right"><label for="new_password">Votre nouveau mot de passe :</label></td>
                    <td><input type="password" class="registerinput" name="new_password" id="new_password" maxlength="16" required /></td>
                </tr>
                <tr>
                    <td align="right"><label for="new_password2">Confirmation du mot de passe :</label></td>
                    <td><input type="password" class="registerinput" name="new_password2" id="new_password2" maxlength="16" required /></td>
                </tr>
            </table>
            <p class="submit">
                <button type="submit" class="button">Valider</button>
            </p>
        </form>
    </fieldset>
</div>
<script src="{% static 'nexus/scripts/account-options.js' %}"></script>
