<div class="header first">
    <div class="news left">Actualités</div>
	<div class="news right">test</div>
    <div class="clearer"></div>
    <br/>
</div>
<div>
	<div class="news left">26/12/2024 : Relancement du projet complet</div>
	<div class="news right">
        test
    </div>
	<div class="clearer"></div>
</div>
<div class="header first">
    <div class="news">Historique</div>
    <div class="clearer"></div>
</div>
<div>
    <div class="news left">
        {% for k,new in news1.items %}
            <h2>{{ new.title }}</h2>
            <b>{{ new.pubDate }}</b><br/>
            <em>{{ new.author }}</em>
            {{ new.description|safe }}
        {% endfor %}
    </div>
    <div class="news right">
        {% for k,new in news2.items %}
            <h2>{{ new.title }}</h2>
            <b>{{ new.pubDate }}</b><br/>
            <em>{{ new.author }}</em>
            {{ new.description|safe }}
        {% endfor %}
    </div>
    <div class="clearer"></div>
</div>