<div id="lostpassword">
	{% if error %}
	<b>
		<fieldset>
		<legend class="error">&nbsp;Erreur&nbsp;</legend>
		<div>
			<p class="error">
			<b:unknown>Une erreur est survenue: {{ error }}</b:unknown>
			</p>
		</div>
		</fieldset>
	</b>
	{% endif %}

	<form method="post" action="{% url 'nexus:lostpassword' %}">
	{% csrf_token %}

	<fieldset>
	<legend>&nbsp;Entrez l'adresse e-mail avec laquelle vous vous êtes inscrit&nbsp;</legend>
	<div>
		<p><label for="email">Votre adresse e-mail: </label><input type="text" class="email" name="email" id="email" maxlength="64"></p>
	</div>
	</fieldset>

	<p align="center">
		<input type="submit" name="resend" class="button" value="Valider">
	</p>

	</form>
</div>