{% load static %}{% load nexus_extras %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exile - MMORPG, jeu web virtuel gratuit en ligne de simulation stratégique spatiale jouable avec un navigateur</title>

    <!-- Métadonnées pour les moteurs de recherche -->
    <meta name="robots" content="all">
    <meta name="revisit-after" content="1 days">
    <meta name="category" content="Game">
    <meta name="description" content="Exile est un jeu web gratuit en ligne de simulation spatiale stratégique où s'affrontent de nombreux joueurs simultanément. MMORPG, massivement multijoueurs">
    <meta name="keywords" content="Exile, jeu en ligne, conquête spatiale, jeu gratuit, jeu web, jeu browser, multijoueur, combat spatial, ogame, 4X, jeu navigateur">

    <!-- Métadonnées Schema.org pour le partage -->
    <meta itemprop="name" content="Exile">
    <meta itemprop="description" content="Exile est un jeu web gratuit en ligne de simulation spatiale stratégique où s'affrontent de nombreux joueurs simultanément. MMORPG, massivement multijoueurs">
    <meta itemprop="image" content="https://www.{% settings_value 'DOMAIN' %}/static/nexus/assets/site/ss1.jpg">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'nexus/assets/favicon.ico' %}" type="image/x-icon">

    <!-- Feuilles de style -->
    <link rel="stylesheet" href="{% static 'nexus/styles/exile/exile.css' %}?v=1">

    <!-- Scripts JavaScript -->
    <script src="{% static 'nexus/scripts/lib/prototype.js' %}?0" defer></script>
    <script src="{% static 'nexus/scripts/common.js' %}?0" defer></script>
    <script src="{% static 'nexus/scripts/lang.js' %}?0" defer></script>
    <script src="{% static 'nexus/scripts/lang-fr.js' %}?0" defer></script>
</head>
<body>
    <div id="page">
        <!-- En-tête du site -->
        <header id="header">
            <nav class="topmenu">
                <!-- Menu principal -->
                <a href="{% url 'nexus:index' %}" title="Exile">accueil</a> .
                <a href="{% url 'nexus:intro' %}" title="Présentation">présentation</a> .
                <a href="{% url 'nexus:register' %}" title="Inscription à Exile">inscription</a> .
                <a href="{% url 'nexus:faq' %}" title="Questions fréquemment posées">f.a.q.</a> .
                <a href="{% url 'nexus:banners' %}" title="Bannières et barres">bannières</a> .
                <a href="#" title="Forum du jeu">forum</a> .
                <a href="#" title="Wikipedia d'Exile">wiki</a>
            </nav>

            <!-- Bloc utilisateur -->
            {% if logged %}
            <div class="form-logged">
                <p>Connecté en tant que <span class="username">{{ user.username }}</span>,</p>
                <p>Dernière connexion : {{ user.last_visit }}</p>
                <ul>
                    <li><a href="{% url 'nexus:servers' %}">Liste des serveurs</a></li>
                    <li><a href="{% url 'nexus:accountawards' %}">Voir mes récompenses</a></li>
                    <li><a href="{% url 'nexus:accountoptions' %}">Modifier mes préférences</a></li>
                    <li><a href="{% url 'nexus:logout' %}">Déconnexion</a></li>
                </ul>
            </div>
            {% else %}
            <div class="form-login">
                <form action="{% url 'nexus:login' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="login" value="1">
                    <div class="form-group">
                        <label for="universe" class="login-label">Univers :</label>
                        <select id="universe" name="universe" class="login-input" onchange="changeUniverse(this)">
                            {% for universe in universes %}
                            <option value="{{ universe.id }}">{{ universe.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="username" class="login-label">Nom d'utilisateur :</label>
                        <input type="text" class="login-input" id="username" name="username" maxlength="32">
                    </div>
                    <div class="form-group">
                        <label for="password" class="login-label">Mot de passe :</label>
                        <input type="password" class="login-input" id="password" name="password" maxlength="32">
                    </div>
                    <div class="lostpass-errors">
                        <div class="lostpassword">
                            <a href="{% url 'nexus:lostpassword' %}" class="lostlink">Mot de passe oublié ?</a>
                        </div>
                        {% if lastloginerror %}
                            <div class="error">{{ lastloginerror }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="login-button">Connexion</button>
                    </div>
                </form>
            </div>
            {% endif %}

            <!-- Message pour les utilisateurs sans JavaScript -->
            <noscript>
				<div class="hz-ad">
					<div class="error" id="noscript">Les fonctionnalités JavaScript de votre navigateur sont désactivées. Certaines actions pourraient ne pas fonctionner correctement.</div>
				</div>
            </noscript>
        </header>

        <!-- Contenu principal -->
        <main id="content">
            <div class="rightad"><!-- --></div>
            <div class="main">
                {{ content }}
            </div>
            <div class="clearer"><!-- --></div>
        </main>

        <!-- Pied de page -->
        <footer id="footer">
            <div>
                {% if logged %}
                <a href="{% url 'nexus:intro' %}" class="button">PRÉSENTATION</a>
                {% else %}
                <a href="{% url 'nexus:register' %}" class="button">INSCRIPTION</a>
                {% endif %}
            </div>
            <div class="copyright">
                &copy; {% annee_en_cours %} - Exile. Tous droits réservés.
            </div>
            <div class="links">
                <a href="mailto:info@{% settings_value 'DOMAIN' %}">Contact</a> .
                <a href="{% url 'nexus:conditions' %}">Conditions</a> .
                <a href="{% url 'nexus:about' %}">À propos</a>
            </div>
        </footer>
    </div>
</body>
</html>
