{% if messages %}
    <style>
        .notyf-custom-success,
        .notyf-custom-error,
        .notyf-custom-info,
        .notyf-custom-warning {
            color: black;
            font-weight: bold;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const notyf = new Notyf({
                duration: 3000,
                position: {
                    x: 'right',
                    y: 'bottom',
                },
                types: [
                    {
                        type: 'info',
                        background: '#3498db',
                        icon: '<i class="fas fa-info text-black"></i>',
                        className: 'notyf-custom-info',
                    },
                    {
                        type: 'warning',
                        background: '#f39c12',
                        // background: 'indianred',
                        icon: '<i class="fas fa-exclamation-triangle text-black"></i>',
                        className: 'notyf-custom-warning',
                    },
                    {
                        type: 'success',
                        background: '#2ecc71',
                        icon: '<i class="fas fa-check text-black"></i>',
                        className: 'notyf-custom-success',
                    },
                    {
                        type: 'error',
                        background: '#e74c3c',
                        icon: '<i class="fas fa-times-circle text-black"></i>',
                        className: 'notyf-custom-error',
                    },
                ],
                dismissible: true,
            });

            {% for message in messages %}
                {% if message.tags == "error" %}
                    notyf.error("{{ message|escapejs }}");
                {% elif message.tags == "success" %}
                    notyf.success("{{ message|escapejs }}");
                {% elif message.tags == "warning" %}
                    notyf.warning("{{ message|escapejs }}");
                {% elif message.tags == "info" %}
                    notyf.info("{{ message|escapejs }}");
                {% endif %}
            {% endfor %}
        });
    </script>
{% endif %}

