{% load static %}
<div class="card" onclick="document.location.href='{% url 'exile:planet' %}?id={{ planet.0 }}';">
  <div class="infos">
    <img src="{% static 'exile/assets/planets/p' %}{{ planet.10 }}.gif" alt="Planet" class="pla">
    {{ planet.7 }}/{{ planet.6 }}&nbsp;<img src="{% static 'exile/assets/interface/floor.gif' %}" title="Terrain" width=16 height=16 style="vertical-align: middle;"><br/>
    {{ planet.9 }}/{{ planet.8 }}&nbsp;<img src="{% static 'exile/assets/interface/space.gif' %}" title="Espace" width=16 height=16 style="vertical-align: middle;"><br/>
    {% if planet.5 %} <img src="{% static 'exile/assets/interface/commander.gif' %}" class="smallicon" width=10 height=6 title="Commandant">{% endif %}
    <div style="clear:both;"></div>
  </div>
  <div class="container">
    <h4><b>{{ planet.1 }}</b></h4>
    <p>{{ planet.2 }}.{{ planet.3 }}.{{ planet.4 }}</p>
  </div>
</div> 