{% load static %}
<script>
function jumpf(obj){
	eval("location='{{ urlf|safe }}" + obj.options[obj.selectedIndex].value + "'");
}
function nextfleet(){
	var obj = document.getElementById("fleetlist");
	if(obj.selectedIndex<obj.options.length-1)
		obj.selectedIndex=obj.selectedIndex+1;
	else
		obj.selectedIndex=0;
	jumpf(obj);
}
function previousfleet(){
	var obj = document.getElementById("fleetlist");
	if(obj.selectedIndex>0)
		obj.selectedIndex=obj.selectedIndex-1;
	else
		obj.selectedIndex=obj.options.length-1;
	jumpf(obj);
}
</script>

<style>
table.tableheader {
	background:url('{% static 'exile/assets/interface/header-bg.png' %}');
}
table.tableheader td { padding-right:8px; }
</style>

<div align=center>
	<table class="tableheader" cellspacing=2>
	<tr>
		<td rowspan="3"><a href="#" onclick="previousfleet(); return false;"><img src="{% static 'exile/assets/interface/left.gif' %}" title="Flotte précédente" width=10 height=34></a>&nbsp;</td>
		<td nowrap>
			<select id="fleetlist" tabindex="1" onchange="jumpf(this)">
				{% for key,fle in fleetlist.items %}
					<option value="{{ fle.id }}" {% if fle.selected %}selected="selected"{% endif %}>{{ fle.name }} ({{ fle.g }}.{{ fle.s }}.{{ fle.p }}{% if fle.t_planetid %} -> {{ fle.t_g }}.{{ fle.t_s }}.{{ fle.t_p }}{% endif %})</option>
				{% endfor %}
			</select>
		</td>
		<td nowrap>{% if fleet.cargo_capacity %}<img src="{% static 'exile/assets/interface/ore.gif' %}" title="Minerai" width=16 height=16 class=res><span>{{ fleet.cargo_ore }}</span>{% endif %}</td>
		<td nowrap>{% if fleet.cargo_capacity %}<img src="{% static 'exile/assets/interface/workers.gif' %}" title="Travailleurs" width=16 height=16 class=res><span>{{ fleet.cargo_workers }}</span>{% endif %}</td>
		<td nowrap></td>
		{% if fleet.ship %}
			<td nowrap rowspan="3" style="padding-left:5px;">{% for i,sh in fleet.ship.items %}{{ sh.ship_label }} x {{ sh.ship_quantity }}<br/>{% endfor %}</td>
		{% endif %}
		<td rowspan=3>&nbsp;<a href="#" onclick="nextfleet(); return false;"><img src="{% static 'exile/assets/interface/right.gif' %}" title="Flotte suivante" width=10 height=34></a></td>
	</tr>
	<tr>
		<td nowrap>
			{% if fleet.stance == 1 %}
				<img src="{% static 'exile/assets/interface/stance_attack.gif' %}" class="stance" alt="Attaque" width="10" height="10">
			{% else %}
				<img src="{% static 'exile/assets/interface/stance_defend.gif' %}" class="stance" alt="Riposte" width="10" height="10">
			{% endif %}
		
			{% if fleet.action == 0 %}
				<span class="state_patrolling">En patrouille <script>putplanet("{{ fleet.planetid }}","{% if fleet.planetname %}{{ fleet.planetname }}{% else %}{% endif %}","{{ fleet.g }}","{{ fleet.s }}","{{ fleet.p }}",{{ fleet.relation }});</script></span>
			{% elif fleet.action == 1 %}
				<span class="state_moving">En transit vers <script>putplanet("{{ fleet.t_planetid }}","{% if fleet.t_planetname %}{{ fleet.t_planetname }}{% else %}{% endif %}","{{ fleet.t_g }}","{{ fleet.t_s }}","{{ fleet.t_p }}",{{ fleet.t_relation }});</script> - (<script>putcountdown1({{ fleet.remaining_time }}, 'Arrivé', '{% url 'exile:fleet' %}?id={{ fleet.id }}')</script>)<br/>
			{% elif fleet.action == 2 %}
				<span class="state_recycling">Recyclage de ressources <script>putplanet("{{ fleet.planetid }}","{% if fleet.planetname %}{{ fleet.planetname }}{% else %}{% endif %}","{{ fleet.g }}","{{ fleet.s }}","{{ fleet.p }}",{{ fleet.relation }});</script></span> - (<script>putcountdown1({{ fleet.remaining_time }}, 'Cycle terminé', '{% url 'exile:fleet' %}?id={{ fleet.id }}')</script>)<br/>
			{% elif fleet.action == 4 %}
				<span class="state_waiting">En attente <script>putplanet("{{ fleet.planetid }}","{% if fleet.planetname %}{{ fleet.planetname }}{% else %}{% endif %}","{{ fleet.g }}","{{ fleet.s }}","{{ fleet.p }}",{{ fleet.relation }});</script></span> - (<script>putcountdown1({{ fleet.remaining_time }}, 'Terminé', '{% url 'exile:fleet' %}?id={{ fleet.id }}')</script>)<br/>
			{% elif fleet.action == 'x' %}
				<span class="state_fighting">En combat <script>putplanet("{{ fleet.planetid }}","{% if fleet.planetname %}{{ fleet.planetname }}{% else %}{% endif %}","{{ fleet.g }}","{{ fleet.s }}","{{ fleet.p }}",{{ fleet.relation }});</script></span><br/>
			{% endif %}
			<img src="{% static 'exile/assets/interface/commander.gif' %}" class="smallres" width=10 height=6 title="Commandant">{% if fleet.commandername %}{{ fleet.commandername }}{% else %}-{% endif %}</td>
		<td nowrap style="min-width:50px;">{% if fleet.cargo_capacity %}<img src="{% static 'exile/assets/interface/hydrocarbon.gif' %}" title="Hydrocarbure" width=16 height=16 class=res><span>{{ fleet.cargo_hydrocarbon }}</span>{% endif %}</td>
		<td nowrap style="min-width:50px;">{% if fleet.cargo_capacity %}<img src="{% static 'exile/assets/interface/scientists.gif' %}" title="Scientifiques" width=16 height=16 class=res><span>{{ fleet.cargo_scientists }}</span>{% endif %}</td>
		<td nowrap>{% if fleet.cargo_capacity %}charge : {{ fleet.cargo_load }}{% endif %}</td>
	</tr>
	<tr>
		<td nowrap>vitesse : {{ fleet.speed }}<br/>signature : {{ fleet.signature }}</td>
		<td nowrap></td>
		<td nowrap>{% if fleet.cargo_capacity %}<img src="{% static 'exile/assets/interface/soldiers.gif' %}" title="Soldats" width=16 height=16 class=res><span>{{ fleet.cargo_soldiers }}</span>{% endif %}</td>
		<td nowrap>capacité : {% if fleet.cargo_capacity %}{{ fleet.cargo_capacity }}{% else %}0{% endif %}{% if fleet.recycler_output %}<br/>Recyclage : {{ fleet.recycler_output }} unités/heure{% endif %}</td>
	</tr>
	</table>
</div>