{% load static %}
<div id="help">


{% if tabnav %}
	<div>
	<ul class="htabs">
	     <li {% if tabnav.cat == 'general' %}class="active"{% endif %}><a href="{% url 'exile:help' %}?">Aide générale</a></li>
	     <li {% if tabnav.cat == 'buildings' %}class="active"{% endif %}><a href="{% url 'exile:help' %}?cat=buildings">Construction</a></li>
	     <li {% if tabnav.cat == 'research' %}class="active"{% endif %}><a href="{% url 'exile:help' %}?cat=research">Recherche</a></li>
	     <li {% if tabnav.cat == 'ships' %}class="active"{% endif %}><a href="{% url 'exile:help' %}?cat=ships">Vaisseaux</a></li>
	     <li {% if tabnav.cat == 'targeting' %}class="active"{% endif %}><a href="{% url 'exile:help' %}?cat=targeting">Ciblage (combat)</a></li>
	     <li {% if tabnav.cat == 'tags' %}class="active"{% endif %}><a href="{% url 'exile:help' %}?cat=tags">Balises</a></li>
	</ul>
	</div>
{% endif %}

<table class="default" width="100%">
{% if tabnav.cat == 'general' %}
	<tr class="category"><td colspan=1>Ressources matérielles et humaines</td></tr>
	<tr class="item">
		<td><div class="label"><img src="{% static 'exile/assets/interface/ore.gif' %}" title="Minerai" class=res width=16 height=16>Minerai</div>
			<div class="description">L'extraction de minerai est l'activité principale de votre colonie avec la production d'hydrocarbure.<br>
			La transformation des minerais en métaux permet la construction des structures de bâtiments, la création des alliages nécessaires au blindage de vos vaisseaux spatiaux.<br/>
			<br/>
			Le stockage de minerai vous permettra de faire face à une incapacité de production temporaire.<br/>
			<br/>
			La recherche vous permettra d'optimiser votre production ou de trouver de nouvelles techniques d'extraction.<br/>
			</div>
		</td>
	</td>
	<tr class="item">
		<td><div class="label"><img src="{% static 'exile/assets/interface/hydrocarbon.gif' %}" title="Hydrocarbure" class=res width=16 height=16>Hydrocarbures</div>
			<div class="description">Après extraction dans vos puits, les hydrocarbures (gaz naturel, pétrole) sont transformés afin de produire des plastiques, fibres, solvants et matériaux nécessaires à la réalisation de produits synthétiques et utilisés dans l'élaboration de nouveaux composés chimiques découverts lors de vos travaux de recherche.<br/>				
			<br/>
			Grâce à la recherche, vous pourrez certainement réduire certains coûts et augmenter le rendement des hydrocarbures.<br/>
			</div>
		</td>
	</td>
	<tr class="item">
		<td><div class="label"><img src="{% static 'exile/assets/interface/energy.gif' %}" title="Energie" class=res width=16 height=16>Energie</div>
			<div class="description">Chaque bâtiment ou structure construite a constamment besoin d'énergie pour fonctionner; si les petits bâtiments ont des besoins minimums, la construction de certaines structures pourra requérir un surplus d'énergie que vous devrez assurer avant de pouvoir lancer leur construction.<br/>
			<br/>
			La recherche devrait pouvoir vous aider à réaliser des générateurs plus puissants ou mettre à profit de nouvelles sources d'énergie.<br/>
			</div>
		</td>
	</tr>
	<tr class="item">
		<td><div class="label"><img src="{% static 'exile/assets/interface/credits.gif' %}" title="Crédits" class=res width=16 height=16>Crédits</div>
			<div class="description">Le crédit est la monnaie en vigueur dans la galaxie. Universelle, elle permet d'acheter tout ce qui est à vendre. Vous pourrez augmenter, ou diminuer, votre fortune en marchandant auprès des vendeurs qui se poseront sur votre spatioport.<br/>
			Vous avez la possibilité de vendre sur le marché ou bien de commercer avec les membres de votre alliance (vente entre joueurs non implémentée).<br/>
			Plus vous vendez de ressources, plus le payement est rapide. Les marchands payent la moitié à la vente et l'autre moitié lorsque les ressources arrivent à leur planète.
			</div>
		</td>
	</tr>
	<tr class="item">
		<td><div class="label"><img src="{% static 'exile/assets/interface/scientists.gif' %}" title="Scientifiques" class=res width=16 height=16>Scientifiques</div>
			<div class="description">Les scientifiques effectuent toutes les recherches que vous pourrez choisir d'entreprendre. En augmentant le nombre de scientifiques dont vous disposez, les recherches seront plus rapides. Vous pouvez avoir des scientifiques sur toutes vos planètes, ils collaboreront tous sur la même recherche en même temps. Cependant, il est conseillé de grouper vos chercheurs pour maximiser l'efficacité des recherches. La collaboration sera plus efficace entre un nombre réduit de grand groupes de scientifiques plutôt qu'entre de nombreux groupes de petites tailles.
			</div>
		</td>
	</tr>
	<tr class="item">
		<td><div class="label"><img src="{% static 'exile/assets/interface/soldiers.gif' %}" title="Soldats" class=res width=16 height=16>Soldats</div>
			<div class="description">Les soldats font respecter l'ordre dans vos colonies et les protègent des envahisseurs. Ils peuvent aussi être embarqués à bord de vaisseaux pour envahir une planète ennemie que vous convoitez.<br/>
			S'il n'y a pas assez de soldats dans vos colonies, des vols, voire des émeutes peuvent se produire. Il est admis qu'il faut en général 1 soldat pour 250 colons afin d'éviter ce genre d'incident.<br/>
			Le nombre de soldats est écrit en rouge lorsque celui-ci est jugé insuffisant.
			</div>
		</td>
	</tr>
	<tr class="item">
		<td><div class="label"><img src="{% static 'exile/assets/interface/workers.gif' %}" title="Travailleurs" class=res width=16 height=16>Travailleurs</div>
			<div class="description">Les travailleurs regroupent l'ensemble des professions telles que l'ingénierie, l'électronique, l'architecture, la mécanique, l'avionique, la construction (BTP) ... nécessaires à la mise en chantier de vos projets d'infrastructures (mines, puits, production d'énergie ...) mais aussi tout ce qui concerne la création spatiale pour réaliser vos vaisseaux spatiaux. Plus le projet sera ambitieux, plus le nombre de travailleurs requis sera important.<br/>
			<br/>
			Au fur et à mesure de la croissance de votre colonie, de plus en plus de civils seront formés afin de devenir travailleur.<br/>
			<br/>
			Il vous faudra garder au moins 5% des travailleurs nécessaires à la construction d'une infrastructure sur la colonie pour la maintenance et les réparations.
			</div>
		</td>
	</tr>
	<tr class="item">
		<td><div class="label"><img src="{% static 'exile/assets/interface/upkeep_commander.gif' %}" class=res width=16 height=16>Commandant</div>
			<div class="description">Les commandants sont des personnages importants que vous pouvez affecter à une planète ou à une flotte. Les bonus que vous leur attribuez les disposent plus au commandement de l'un ou de l'autre.<br/>
			Les commandants affectés à une planète permettent de vous donner un bonus d'influence sur celle-ci ce qui permet de pallier à un manque de soldats ou de travailleurs sur le long terme.<br/>
			Les commandants affectés à une flotte sont pleinement efficaces jusqu'à 20 000 vaisseaux, au-delà, leurs bonus s'atténuent à moins de posséder des vaisseaux offrant des bonus de commandement et allégeant la charge au commandant.
			</div>
		</td>
	</tr>
	<tr class="item">
		<td><div class="label">Points de Prestige</div>
			<div class="description">Il y a divers moyen de gagner des Points de Prestige, la principale étant en détruisant des vaisseaux militaires ennemis lors des combats (les vaisseaux non armés ne rapportent pas de point).<br/>
			En général, les vaisseaux légers rapportent 1 point, les corvettes 2 points, les frégates 5 points et les croiseurs 10 points.<br/>
			Ces points vous serviront pour améliorer vos commandants et pour la construction de certains bâtiments et vaisseaux.
			</div>
		</td>
	</tr>
{% endif %}

{% if tabnav.cat == 'buildings' %}
	<tr class="header">
		<td colspan="2">Bâtiment</td><td>Ressources</td><td>Occupation</td><td width="1%">Coût fonctionnement</td><td>Production</td><td>Stockage</td>
	</tr>
	{% for k,cat in category.items %}
		<tr class="category">
			<td colspan="7">
			{% if k == 'category10' %}Colonie{% endif %}
			{% if k == 'category11' %}Construction{% endif %}
			{% if k == 'category20' %}Production{% endif %}
			{% if k == 'category21' %}Production de minerai{% endif %}
			{% if k == 'category22' %}Production d'hydrocarbure{% endif %}
			{% if k == 'category23' %}Production d'énergie{% endif %}
			{% if k == 'category30' %}Ressources humaines{% endif %}
			{% if k == 'category31' %}Stockage de minerai{% endif %}
			{% if k == 'category32' %}Stockage d'hydrocarbure{% endif %}
			{% if k == 'category33' %}Stockage d'énergie{% endif %}
			{% if k == 'category40' %}Armement{% endif %}
			{% if k == 'category80' %}Espace{% endif %}
			{% if k == 'category90' %}Défense{% endif %}
			{% if k == 'category100' %}Artéfacts et reliques{% endif %}
			{% if k == 'category110' %}Evénements{% endif %}
			</td>
		</tr>
		{% for i,bui in cat.items %}
			<tr class="item">
				<td>
					<img src="{% static 'exile/assets/buildings/' %}{{ bui.id }}.jpg" class="building" title="{{ bui.name }}" width="64" height="64">
				</td>
				<td>
					<a name="{{ bui.id }}"></a><div class="label">{{ bui.name }}</div><div class="description">{{ bui.description|safe }}</div>
				</td>
				<td align="right" valign=middle>
					<table class="clear" width="100%">
					<tr><td><img src="{% static 'exile/assets/interface/ore.gif' %}" title="Minerai" width=16 height=16></td><td align=right>{{ bui.ore }}</td></tr>
					<tr><td><img src="{% static 'exile/assets/interface/hydrocarbon.gif' %}" title="Hydrocarbure" width=16 height=16></td><td align=right>{{ bui.hydrocarbon }}</td></tr>
					<tr><td><img src="{% static 'exile/assets/interface/workers_idle.gif' %}" title="Travailleurs" width=12 height=12></td><td align=right>{{ bui.workers }}</td></tr>
					</table>
				</td>
				<td align="right" valign="middle">
					<table class="clear" width="100%">
					<tr><td><img src="{% static 'exile/assets/interface/floor.gif' %}" title="Terrain" width="16" height="16"></td><td align=right>{{ bui.floor }}</td></tr>
					<tr><td><img src="{% static 'exile/assets/interface/space.gif' %}" title="Espace" width="16" height="16"></td><td align=right>{{ bui.space }}</td></tr>
					</table>
				</td>
				<td align="right" valign="middle">
					<table class="clear" width="100%">
					<tr><td><img src="{% static 'exile/assets/interface/credits.gif' %}" title="Crédits" width="16" height="16"></td><td align=right>{{ bui.upkeep_credits }}</td></tr>
					<tr><td><img src="{% static 'exile/assets/interface/energy_available.gif' %}" title="Energie" width="12" height="12"></td><td align=right>{{ bui.upkeep_energy }}</td></tr>
					<tr><td><img src="{% static 'exile/assets/interface/workers.gif' %}" title="Travailleurs" width="16" height="16"></td><td align=right>{{ bui.upkeep_workers }}</td></tr>
					</table>
				</td>
				<td align="right" valign="middle">
					<table class="clear" width="100%">
					{% if bui.produce_ore %}<tr><td width="16"><img src="{% static 'exile/assets/interface/ore.gif' %}" title="Minerai" width="16" height="16"></td><td align="right">{{ bui.ore_production }}</td></tr>{% endif %}
					{% if bui.produce_hydrocarbon %}<tr><td width="16"><img src="{% static 'exile/assets/interface/hydrocarbon.gif' %}" title="Hydrocarbure" width="16" height="16"></td><td align="right">{{ bui.hydrocarbon_production }}</td></tr>{% endif %}
					{% if bui.produce_energy %}<tr><td width="16"><img src="{% static 'exile/assets/interface/energy.gif' %}" title="Energie" width="16" height="16"></td><td align="right">{{ bui.energy_production }}</td></tr>{% endif %}
					</table>
				</td>
				<td align="right" valign="middle">
					<table class="clear" width="100%">
					{% if bui.storage_ore %}<tr><td width="16"><img src="{% static 'exile/assets/interface/ore.gif' %}" title="Minerai" width="16" height="16"></td><td align="right">{{ bui.ore_storage }}</td></tr>{% endif %}
					{% if bui.storage_hydrocarbon %}<tr><td width="16"><img src="{% static 'exile/assets/interface/hydrocarbon.gif' %}" title="Hydrocarbure" width="16" height="16"></td><td align="right">{{ bui.hydrocarbon_storage }}</td></tr>{% endif %}
					{% if bui.storage_energy %}<tr><td width="16"><img src="{% static 'exile/assets/interface/energy.gif' %}" title="Energie" width="16" height="16"></td><td align="right">{{ bui.energy_storage }}</td></tr>{% endif %}
					</table>
				</td>
			</tr>
		{% endfor %}
		<tr class="clear"><td colspan="4">&nbsp;</td></tr>
	{% endfor %}
	{% if tree %}
		{% for shipid,ship in tree.items %}
			{% if ship.buildings or ship.reseach %}
				<tr valign="top" class="item">
					<td colspan=3>
						<div class="label">{{ ship.label }}</div>
						<div class="description">{{ ship.description|safe }}</div>
						<table style="width:100%;">
							<thead>
								<tr>
									<th style="text-align:center;width:50%;">Bâtiments requis</th>
									<th style="text-align:center;width:50%;">Recherches requises</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<ul class="requirements">
											{% for j,bui in ship.buildings.items %}
												<li>{{ bui }}</li>
											{% endfor %}
										</ul>
									</td>
									<td>
										<ul class="requirements">
											{% for j,bui in ship.research.items %}
												<li>{{ bui.label }} <img src="{% static 'exile/assets/research/level' %}5_{{ bui.level }}.gif" alt="Niveau {{ bui.level }}"></li>
											{% endfor %}
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
						{% if ship.degats %}
							<table style="width:100%;">
								<thead>
									<tr>
										<th style="text-align:center;width:50%;">
											Types de dégats
										</th>
										<th style="text-align:center;width:50%;">
											Résistances
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<ul>
												<li>EM : {{ ship.degats.weapon_dmg_em }}</li>
												<li>Explosive : {{ ship.degats.weapon_dmg_explosive }}</li>
												<li>Kinetic : {{ ship.degats.weapon_dmg_kinetic }}</li>
												<li>Thermal : {{ ship.degats.weapon_dmg_thermal }}</li>
											</ul>
										</td>
										<td>
											<ul>
												<li>{{ ship.resistances.resist_em }}%</li>
												<li>{{ ship.resistances.resist_explosive }}%</li>
												<li>{{ ship.resistances.resist_kinetic }}%</li>
												<li>{{ ship.resistances.resist_thermal }}%</li>
											</ul>
										</td>
									</tr>
								</tbody>
							</table>
						{% endif %}
					</td>
				</tr>
			{% endif %}
		{% endfor %}
	{% endif %}
{% endif %}

{% if tabnav.cat == 'research' %}
	<tr class="header"><td>Recherche</td><td>Coût</td></tr>
	{% for k,cat in category.items %}
	<tr class="category"><td colspan="2">
		{% if k == 'category10' %}Technologies{% endif %}
		{% if k == 'category20' %}Industrie{% endif %}
		{% if k == 'category30' %}Empire{% endif %}
		{% if k == 'category40' %}Recherche{% endif %}
		{% if k == 'category50' %}Technologies militaires{% endif %}
		{% if k == 'category90' %}Vaisseaux spatiaux{% endif %}
		&nbsp;</td></tr>
		{% for i,res in cat.items %}
			<tr class="item">
				<td>
					<a name="{{ res.id }}"></a><div class="label">{{ res.name }}</div><div class="description">{{ res.description|safe }}</div>
				</td>
				<td nowrap align=right><img src="{% static 'exile/assets/interface/credits.gif' %}" class=res title="Crédits" width=16 height=16> {{ res.cost_credits }}</td>
			</tr>
		{% endfor %}
		<tr class="clear"><td colspan=2>&nbsp;</td></tr>
	{% endfor %}
	
	{% if tree %}
		{% for shipid,ship in tree.items %}
			<tr valign="top" class="item">
				<td colspan=3>
					<div class="label">{{ ship.label }}</div>
					<div class="description">{{ ship.description|safe }}</div>
					<table style="width:100%;">
						<thead>
							<tr>
								<th style="text-align:center;width:50%;">Bâtiments requis</th>
								<th style="text-align:center;width:50%;">Recherches requises</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<ul class="requirements">
										{% for j,bui in ship.buildings.items %}
											<li>{{ bui }}</li>
										{% endfor %}
									</ul>
								</td>
								<td>
									<ul class="requirements">
										{% for j,bui in ship.research.items %}
											<li>{{ bui.label }} <img src="{% static 'exile/assets/research/level' %}5_{{ bui.level }}.gif" alt="Niveau {{ bui.level }}"></li>
										{% endfor %}
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		{% endfor %}
	{% endif %}
{% endif %}

{% if tabnav.cat == 'ships' %}
	<tr class="header"><td>Vaisseau</td><td>Caractéristiques</td><td>Ressources</td></tr>
	{% for k,cat in category.items %}
		<tr class="category">
			<td colspan="3">
			{% if k == 'category10' %}Vaisseaux utilitaires{% endif %}
			{% if k == 'category11' %}Vaisseaux de déploiement{% endif %}
			{% if k == 'category15' %}Vaisseaux tactiques{% endif %}
			{% if k == 'category20' %}Vaisseaux légers{% endif %}
			{% if k == 'category30' %}Corvettes{% endif %}
			{% if k == 'category40' %}Frégates{% endif %}
			{% if k == 'category50' %}Croiseurs{% endif %}
			{% if k == 'category60' %}Dreadnought{% endif %}
			{% if k == 'category80' %}Titan{% endif %}
			{% if k == 'category90' %}Plateforme de défense{% endif %}
			&nbsp;
			</td>
		</tr>
		{% for i,ship in cat.items %}
			<tr valign="top" class="item">
				<td>
					<a name="{{ ship.id }}"></a>
					<div class="label">{{ ship.name }}</div>
					<div class="description">{{ ship.description|safe }}</div>
					{% if ship.buildingsrequired %}
						<div class="required">Bâtiments requis</div>
							<ul class="requirements">
								{% for j,bui in ship.building.items %}
									<li>{{ bui }}</li>
								{% endfor %}
							</ul>
						</div>
						<br/>
					{% endif %}
					<div class="required">Entretien</div>
						<br/>
						<img src="{% static 'exile/assets/interface/credits.gif' %}" title="Crédits" width="16" height="16" class="icon"> {{ ship.ship_upkeep }}<br/>
					</div>
				</td>
				<td align="left" nowrap>
					<div id="stats">
						<span class=label>Signature: </span><span class=value>{{ ship.ship_signature }}</span>
						<br/><span class=label>Cargo: </span><span class=value>{{ ship.ship_cargo }}</span>
						<br/><span class=label>Vitesse: </span><span class=value>{{ ship.ship_speed }}</span>
						<br/><span class=label>Manœuvrabilité: </span><span class=value>{{ ship.ship_handling }}</span>
						<br/><span class=label>Stabilité: </span><span class=value>{{ ship.ship_required_vortex_strength }}</span>
						<br/><span class=label>Commandement: </span><span class=value>{{ ship.ship_leadership }}</span>
						{% if ship.attack %}
							<br/><span class=label>Puissance d'attaque: </span><span class=value>{{ ship.ship_turrets }}x{{ ship.ship_power }}</span>
							<br/><span class=label>Ciblage: </span><span class=value>{{ ship.ship_tracking_speed }}</span>
						{% endif %}
						<br/><span class=label>Armure: </span><span class=value>{{ ship.ship_hull }}</span>
						{% if ship.shield %}
							<br/><span class=label>Bouclier: </span><span class=value>{{ ship.ship_shield }}</span>
						{% endif %}
						{% if ship.recycler_output %}
							<br/><span class=label>Capacité de recyclage: </span><span class=value>{{ ship.ship_recycler_output }}</span>
						{% endif %}
						{% if ship.long_distance_capacity %}
							<br/><span class=label>Capacité de saut intergalactique: </span><span class=value>{{ ship.ship_long_distance_capacity }}</span>
						{% endif %}
						{% if ship.droppods %}
							<br/><span class=label>Capacité d'invasion: </span><span class=value>{{ ship.ship_droppods }}</span>
						{% endif %}
				</td>

				<td align="right">
					<table class="clear" width="100%">
					<tr><td><img src="{% static 'exile/assets/interface/ore.gif' %}" title="Minerai" width="16" height="16"></td><td align="right">{{ ship.ore }}</td></tr>
					<tr><td><img src="{% static 'exile/assets/interface/hydrocarbon.gif' %}" title="Hydrocarbure" width="16" height="16"></td><td align="right">{{ ship.hydrocarbon }}</td></tr>
					<tr><td><img src="{% static 'exile/assets/interface/energy.gif' %}" title="Énergie" width="16" height="16"></td><td align="right">{{ ship.energy }}</td></tr>
					<tr><td><img src="{% static 'exile/assets/interface/crew.gif' %}" title="Équipage" width="16" height="16"></td><td align="right">{{ ship.crew }}</td></tr>
					</table>
				</td>
			</tr>
		{% endfor %}
		<tr class="clear"><td colspan=2>&nbsp;</td></tr>
	{% endfor %}

	<tr class="clear">
		<td colspan=3>
			<img src="{% static 'exile/assets/legers.jpg' %}" alt="legers"/><br/>
			<img src="{% static 'exile/assets/corvettes.jpg' %}" alt="corvettes"/><br/>
			<img src="{% static 'exile/assets/fregates.jpg' %}" alt="fregates"/><br/>
			<img src="{% static 'exile/assets/croiseurs.jpg' %}" alt="croiseurs"/><br/>
		</td>
	</tr>
	<tr class="clear"><td colspan=2>&nbsp;</td></tr>

	{% if tree %}
		{% for shipid,ship in tree.items %}
			<tr valign="top" class="item">
				<td colspan=3>
					<div class="label">{{ ship.label }}</div>
					<div class="description">{{ ship.description|safe }}</div>
					<table style="width:100%;">
						<thead>
							<tr>
								<th style="text-align:center;width:50%;">Bâtiments requis</th>
								<th style="text-align:center;width:50%;">Recherches requises</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<ul class="requirements">
										{% for j,bui in ship.buildings.items %}
											<li>{{ bui }}</li>
										{% endfor %}
									</ul>
								</td>
								<td>
									<ul class="requirements">
										{% for j,bui in ship.research.items %}
											<li>{{ bui.label }} <img src="{% static 'exile/assets/research/level' %}5_{{ bui.level }}.gif" alt="Niveau {{ bui.level }}"></li>
										{% endfor %}
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
					{% if ship.degats %}
						<table style="width:100%;">
							<thead>
								<tr>
									<th style="text-align:center;width:50%;">
										Types de dégats
									</th>
									<th style="text-align:center;width:50%;">
										Résistances
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<ul>
											<li>EM : {{ ship.degats.weapon_dmg_em }}</li>
											<li>Explosive : {{ ship.degats.weapon_dmg_explosive }}</li>
											<li>Kinetic : {{ ship.degats.weapon_dmg_kinetic }}</li>
											<li>Thermal : {{ ship.degats.weapon_dmg_thermal }}</li>
										</ul>
									</td>
									<td>
										<ul>
											<li>{{ ship.resistances.resist_em }}%</li>
											<li>{{ ship.resistances.resist_explosive }}%</li>
											<li>{{ ship.resistances.resist_kinetic }}%</li>
											<li>{{ ship.resistances.resist_thermal }}%</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	{% endif %}
{% endif %}


{% if tabnav.cat == 'tags' %}
	<tr class="category"><td>Aide sur les balises</td></tr>
	<tr class="item">
		<td>Les balises peuvent être utilisée pour mettre en couleur et en forme les descriptions de votre alliance, nation et l'annonce de l'alliance.<br/>
		<br/>
		Voici la liste des balises supportées et leur résultat:<br/>
		<br/>
	[b]le texte[/b] pour écrire <b>le texte en gras</b><br/>
	[i]le texte[/i] pour écrire <i>le texte en italique</i><br/>
	[u]le texte[/u] pour souligner <u>le texte</u><br/>
	[s]striked text[/s] pour barrer <strike>le texte</strike><br/>
	<br/>
	[color=#FF0000]rouge[/color] pour écrire <span style="color:#FF0000">en rouge en utilisant un code de couleur</span><br/>
	[color=blue]bleu[/color] pour écrire <span style="color: blue">en bleu en utilisant la couleur en anglais</span><br/>
	<br/>
	[url=https://www.exil.pw/]Exile[/url] pour créer un lien vers www.exil.pw en affichant <a href="https://www.exil.pw">Exile</a><br/>
	[url]https://www.exil.pw/[/url] pour créer un lien vers www.exil.pw en affichant <a href="https://www.exil.pw">www.exil.pw</a><br/>
	<br/>
	[img]{% static 'exile/assets/interface/credits.gif' %}[/img] pour afficher une image <img src="{% static 'exile/assets/interface/credits.gif' %}"/><br/>
	<br/>
	[list][*]one[*]two[/list] pour créer des listes non-ordonnées<br/>
	<ul><li>one</li><li>two</li></ul>
	[list={option}][*]one[*]two[/list]	<br/>
	<ol style="list-style-type:decimal;"><li>one</li><li>two</li></ol>
	options liste ordonnée :<br/>
	1: ordered list<br/>
	01: ordered list (leading zero)<br/>
	a: ordered list (lower alpha)<br/>
	A: ordered list (upper alpha)<br/>
	i: ordered list (lower roman)<br/>
	I: ordered list (upper roman)<br/><br/>
	[code][b]example[/b][/code] pour créer du text non formaté <code>[b]example[/b]</code><br/>
	[quote]quoted string[/quote] pour créer des citations <blockquote>quoted string</blockquote><br/>
	[center]example[/center] pour center le texte <div style="text-align:center;">example</div><br/>
	Il est possible d'imbriquer les balises :<br/>
	[u][b]mon texte[/b][/u] écrira <u><b>"mon texte" en gras et souligné</b></u><br/><br/>
	<h2>Smileys</h2>
	<p>Tous les caractères emoticones unicodes doivent fonctionner <a href="https://emojipedia.org/" target="_blank">emojipedia.org</a> (copié-collé) comme 🤠 🇫🇷 ☠️ par exemple.</p>
			{% for i,smiley in smileys.items %}
				<div style="border:1px solid white;padding:4px 4px;float:left;margin-right:4px;">{{ smiley.code }} <img src="/{{ smiley.image }}"/></div>
			{% endfor %}
		</td>
	</td>
{% endif %}


{% if tabnav.cat == 'targeting' %}
	<tr class="header"><td colspan="6">Ciblages prioritaires lors des combats</td></tr>
	<tr>
		<td colspan="6">
			<table style="border:1px solid #444;border-collapse: collapse;">
				<thead>
					<tr>
						<th style="text-align:center;padding: 10px 6px;font-weight:bold;border:1px solid #444;">Vaisseau attaquant</th>
						<th>&nbsp;</th>
						<th colspan="12" style="text-align:center;padding: 10px 6px;font-weight:bold;border:1px solid #444;">Cibles prioritaires</th>
					</tr>
				</thead>
				<tbody>
					{% for sh,line in lines.items %}
						<tr>
							<td style="padding: 10px 6px;border:1px solid #444;font-weight:bold;">{{ sh }}</td>
							<td>&nbsp;</td>
							{% for target in line %}
								<td style="padding: 10px 6px;border:1px solid #444;text-shadow: 1px 1px 2px #444;">{{ target.0 }}{% if iszurg %}<br/><br/>dégats : <em style="color:red">{{ target.1 }}</em><br/>nb tir pour détruire :<br/>{{ target.2 }}{% endif %}</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</td>
	</tr>
{% endif %}

</table>
</div>