{% load static %}
<style>
table tr.highlight {
	color: green;
}
table,tr,td {
	border: 1px solid #444;
}
td {
	padding: 6px 8px;
}
</style>
<div id="helpstatistics">
	<h1>top50 production de minerai</h1>
	<table style="text-align:center;" class="default">
		<tr class="header">
			<td></td>{% if iszurg %}<td>position</td><td>proprio</td>{% endif %}<td>Production minerai (/h)</td><td>terrain</td><td>Occupation terrain</td><td>Coef minerai</td>
		</tr>
		{% for pla in top50ore %}
			<tr valign="top" class="item {{ pla.class }}">
				<td style="color:white;">{{ forloop.counter }}</td>
				{% if iszurg %}
					<td><a href="{% url 'exile:map' %}?g={{ pla.galaxy }}&s={{ pla.sector }}">{{ pla.name }} ({{ pla.galaxy }}.{{ pla.sector }}.{{ pla.planet }})</a></td>
					<td>{{ pla.owner }}</td>
				{% endif %}
				<td>
					<div class="label">{{ pla.ore_production }}</div>
				</td>
				<td>
					<div class="description">{{ pla.floor }}</div>
				</td>
				<td>
					{{ pla.pct_floor }}%
				</td>
				<td>
					{{ pla.pct_ore }}%
				</td>
			</tr>
		{% endfor %}
	</table>
<br/><br/><br/>
	<h1>top50 production d'hydrocarbure</h1>
	<table style="text-align:center;" class="default">
		<tr class="header">
			<td></td>{% if iszurg %}<td>position</td><td>proprio</td>{% endif %}<td>Production hydrocarbure (/h)</td><td>terrain</td><td>Occupation terrain</td><td>Coef hydrocarbure</td>
		</tr>
		{% for pla in top50hydrocarbon %}
			<tr valign="top" class="item {{ pla.class }}">
				<td style="color:white;">{{ forloop.counter }}</td>
				{% if iszurg %}
					<td><a href="{% url 'exile:map' %}?g={{ pla.galaxy }}&s={{ pla.sector }}">{{ pla.name }} ({{ pla.galaxy }}.{{ pla.sector }}.{{ pla.planet }})</a></td>
					<td>{{ pla.owner }}</td>
				{% endif %}
				<td>
					<div class="label">{{ pla.hydrocarbon_production }}</div>
				</td>
				<td>
					<div class="description">{{ pla.floor }}</div>
				</td>
				<td>
					{{ pla.pct_floor }}%
				</td>
				<td>
					{{ pla.pct_hydrocarbon }}%
				</td>
			</tr>
		{% endfor %}
	</table>
</div>