{% load static %}
<script>
var x = null;
var y = null;
    
document.addEventListener('mousemove', onMouseUpdate, false);
document.addEventListener('mouseenter', onMouseUpdate, false);
    
function onMouseUpdate(e) {
  x = e.pageX;
  y = e.pageY;
  //console.log(x+','+y);
}

function getMouseX() {
  return x;
}

function getMouseY() {
  return y;
}

var currGalaxy="";
var currSector="";

function setLocGalaxy(g){ $("locgalaxy").value=g; }
function setLocSector(s){ $("locsector").value=s; }
function setLoc(g,s) { currGalaxy = g; currSector = s; setLocGalaxy(g); setLocSector(s); }

function openGalaxy(g){	window.location="?g="+g; }
function openSector(g,s){ window.location="?g="+g+"&s="+s; }
{% if t %}
function hideAll() {
	var obj = $('mapuniverseview');
	obj.innerHTML = '';

	var obj = $('mapuniverse');
	obj.style.display = 'none';
	obj.style.visibility = 'hidden';

}
{% endif %}

{% if universe %}
{% if comment %}universe{% endif %}

function displayUniverse(u) {
	var s = "";

	for(var i=1; i<u.length; i++) {
		var g = u[i];

		var c = "";
		if(g[1]) c = "hasplanets";
		else
		if(g[2]) c = "hasallies";
		else
		if(g[3]) c = "hasfriends";
		else
		if(g[4]) c = "hasenemies";
		else
			c = "hasnothing";

		s += '<div class="gal"><div onmouseover="setLocGalaxy('+g[0]+')" onclick="openGalaxy('+g[0]+')"><img src="{% static 'exile/assets/galaxies/01.jpg' %}" title="'+g[0]+'" class="'+c+'"></div><div class=galtext>'+g[0]+'</div></div>';
	}

	$('mapuniverseview').innerHTML = s;

	var obj = $('mapuniverse');
	obj.style.display = 'block';
	obj.style.visibility = 'visible';
}
{% endif %}

{% if galaxy %}
{% if comment %}galaxy{% endif %}

var blinklist = new Array();

function getCssRule(name){
	for(var i=0; i<document.styleSheets.length; i++) {

		var theRules = new Array();
		if(document.styleSheets[i].cssRules)
			theRules = document.styleSheets[i].cssRules;
		else 
		if(document.styleSheets[i].rules)
			theRules = document.styleSheets[i].rules;
		else
			return null;

		for(var j=0; j<theRules.length; j++) 
			if(theRules[j].selectorText && theRules[j].selectorText.toLowerCase() == '#mapgalaxyview div.sector div.'+name)
				return theRules[j];
	}

	return null;
}

var isFF = navigator.userAgent.indexOf("Firefox") != -1;
function stopblink(name) {
	if(isFF) {
		for(var x in blinklistFF[name]) {
			rule = $(blinklistFF[name][x]);
			if(rule) rule.style.display = "block";
		}

		CurrentBlink = false;
	}
	else {
		var rule = blinklist[name];
		if(rule) rule.style.visibility = "visible";
		blinklist[name] = null;	
	}
	

}
function startblink(name) {
	if(isFF)
		CurrentBlink = name;
	else
		blinklist[name] = getCssRule(name);
}

if(isFF){ 
	var CurrentBlink = false; 
	var blinklistFF = new Array();
}

function doblinkFF() {
	if(CurrentBlink){
		for(var x in blinklistFF[CurrentBlink]) {
			//alert('blink:'+x);
			rule = $(blinklistFF[CurrentBlink][x]);
			if(rule) rule.style.display = (rule.style.display=="block")?"none":"block";
		}
	}

	window.setTimeout("doblinkFF()", 1000);
}

function doblink() {
	for(var x in blinklist)	{
		rule = blinklist[x];
		if(rule) rule.style.visibility = (rule.style.visibility=="visible")?"hidden":"visible";
	}

	window.setTimeout("doblink()", 1000);
}

if(isFF)
	window.setTimeout("doblinkFF()", 1000);
else
	window.setTimeout("doblink()", 1000);



var pl=new Array();
pl['0']='hostile';
pl['1']='uninhabited';
pl['2']='friend';
pl['3']='ally';
pl['4']='player';
pl['5']='resource';
pl['6']='resource';
pl['7']='vortex';
pl['8']='nothing';

function displayGalaxy(galaxy, m, open, ore, hydro, sov_tag_1, sov_perc_1, sov_tag_2, sov_perc_2, sov_tag_3, sov_perc_3) {
	var res = "";

	var pos = 0;
	if (m.length == 2475) {
		var pla_per_sec = 25;
		$('mapgalaxyview').style.width = '410px';
	}
	else{
		var pla_per_sec = 99;
		$('mapgalaxyview').style.width = '820px';
	}
	for(var i=1; i<100; i++)
	{
		if (pla_per_sec == 25){
			var s = '<div class="sector" onmouseover="setLocSector('+i+')" onclick="openSector('+galaxy+','+i+')">';
		}else{
			var s = '<div class="sector bigsector" onmouseover="setLocSector('+i+')" onclick="openSector('+galaxy+','+i+')">';
		}

		for(var j=0; j<pla_per_sec; j++){
			c = pl[m.charAt(pos)];
			s += '<div class="p'+j+' '+c+'" id="'+i+'-'+j+'"';
			if(pla_per_sec==99){
				s += 'style="left:'+(4+7*(j%10))+'px;top:'+(4+7*Math.trunc(j/10))+'px;"';
			}
			s += '></div>';
			pos++;

			if(isFF) {
				if(!blinklistFF[c]) blinklistFF[c] = new Array();
				blinklistFF[c].push(i+'-'+j);
			}
		}

		s += '</div>';

		res += s;
	}

	$('mapgalaxyview').innerHTML = res;

	$('market_ore').innerHTML = ore;
	$('market_hydrocarbon').innerHTML = hydro;
	$('market').className = "default";


	if (sov_tag_1 != '')
	{
		$('sov_tag_1').innerHTML = sov_tag_1;
		$('sov_perc_1').innerHTML = sov_perc_1 + "%";

		if(sov_tag_2 != '')
		{
			$('sov_tag_2').innerHTML = sov_tag_2;
			$('sov_perc_2').innerHTML = sov_perc_2 + "%";
		}

		if(sov_tag_3 != '')
		{
			$('sov_tag_3').innerHTML = sov_tag_3;
			$('sov_perc_3').innerHTML = sov_perc_3 + "%";
		}

		$('sovereignty').className = "default";
	}

	if(open > 0) {
		$('gal_open_dt').innerHTML = formattime(open);
		$('gal_open').className = "default";
	}

	var obj = $('mapgalaxy');
	obj.style.display = 'block';
	obj.style.visibility = 'visible';
}
{% endif %}

{% if sector %}
{% if comment %}sector things{% endif %}
function get_left(obj) {
	var left = obj.offsetLeft;
	while((obj = obj.offsetParent) != null){ left += obj.offsetLeft; }
	return left;
}

function get_top(obj) {
	var top = obj.offsetTop;
	while((obj = obj.offsetParent) != null){ top += obj.offsetTop; }
	return top;
}

function showmenu(objet,title,txt,width=200,xx=12,yy=-2) {
	console.log(xx+','+yy);
	var hint = $("hint");
	var hinttext = $("hinttext");
	hint.style.visibility = "hidden";
	hint.style.width = width+'px';

	var obj = $(objet);
	var max = $("map").offsetWidth + get_left($("map"));
	if(xx!=12){
		var x = xx;
		var y = yy;
	}else{
		var x = (get_left(obj)+xx);
		var y = (get_top(obj)+yy);
	}

	hinttext.innerHTML = "<h1>" + title + "</h1>" + txt;

	if (xx!=12 && x + hint.offsetWidth > max) {
		x = x - hint.offsetWidth-16;
	}
	
	hint.style.left = x + 'px';
	hint.style.top = y + 'px';
	hint.style.visibility = "visible";
}

function sendfleet(fleetid,pid){
	openURL('{% url 'exile:fleet' %}?fleet='+fleetid+'&pid='+pid+'&action=move2', function(){document.location.reload(true);});
}

function fleetselector(plaid){
	var buf = '';
	for(var i =0;i<freefleetlist.length;i++){
		buf += '<a href="#" onclick="sendfleet('+freefleetlist[i][0]+','+plaid+');return false;" nowrap>'+freefleetlist[i][1]+'</a><br/>';
	}
	return buf;
}

function showfleetselector(plaidx,plaid) {
	showmenu('planett.'+plaidx,'Envoyer une flotte',fleetselector(plaid),240,getMouseX(),getMouseY());
}

function hidemenu() {
	var menu = $("hint");
	menu.style.visibility = "hidden";
	menu.style.left = 0;
	menu.style.top = 0;
}

document.onclick=hidemenu;


function getRelationClass(rel) {
	switch(rel){
		case 2: return "self"; break;
		case 1: return "ally"; break;
		case 0:	return "friend"; break;
		case -1: return "enemy"; break;
		case -2: return "enemy"; break;
		case -3: return "neutral"; break;
	}
	return "";
}


function Fl(id,name,tag,owner,rel,signature,fleeing) {
	if(rel==2 || id != 0)
		var s= '<a title="Inspecter la flotte '+name+'" href="{% url 'exile:fleet' %}?id=' + id + '" class="self">'+(tag!=''?'['+tag+'] ':'')+name+'</a>';
	else
	{
		var c = getRelationClass(rel);

		var s = '<a title="Écrire à '+owner+'" href="{% url 'exile:mails' %}?subject=À propos de la flotte '+name+'&to='+owner+'" class="' + c+ '">' +(tag!=''?'['+tag+'] ':'')+name+'</a>';
	}

	if(signature > 0)
		s += ' ('+formatnumber(signature)+')';
	else
		s += ' (indéterminé)';

	if(fleeing)	s += ' en fuite';
	return s+'<br/>';
}

function descOrbit(idx,planetid,rel,parked) {
	var s="";
	var orbit=orb[idx];

	for(var i=1; i<orbit.length; i++)
		s += Fl(orbit[i][0], orbit[i][1], orbit[i][2], orbit[i][3], orbit[i][4], orbit[i][5], orbit[i][6]);

	if(parked > 0) {
		if(rel == 2)
			s += '<a href="{% url 'exile:orbit' %}?planet='+planetid+'" class="' + getRelationClass(rel) + '">Au sol: ' + formatnumber(parked) + '</a>';
		else
			s += '<span class="' + getRelationClass(rel) + '">Au sol: ' + formatnumber(parked) + '</span>';
	}

	return s;
}

function descSpecials(idx) {
	var s="";
	var elements=elem[idx];

	for(var i=1; i<elements.length; i++)
		s += elements[i] + "<br/>";

	return s;
}

var elem=new Array();
var orb=new Array();
var idx=1;

function loc(img,alliancetag,id,owner,name,rel,radar,jammer,ore,hydrocarbon,floor,space,a_ore,a_hydrocarbon,vortex_strength,frozen,parked,orbit,elements,b_ore,b_hydrocarbon) {
	var c = getRelationClass(rel);

	s = '<div class="planet">'+
		'<table border="0" cellspacing="0" cellpadding="0" width="140">'+
		'<tr>'+

		{% if comment %}// display ore & hydrocarbon on the planet{% endif %}
		'<td align=right width="38">';
		if(ore!='0' || hydrocarbon!='0')
		{
			s+= '<a href="#" class="none" onclick="return donothide(event)" onfocus="this.onmouseover()" onmouseover="showmenu(\'resources.'+idx+'\',\'Ressources\',\'Minerai: '+ore+'<br>Hydrocarbure: '+hydrocarbon+'\')">'+
				'<img id="resources.'+idx+'" width=16 height=16 src="{% static 'exile/assets/map/sector/resource.gif' %}">'+
				'</a>';
		}
		else
			s+= '<img width=1 height=16 src="{% static 'exile/assets/interface/spacer.gif' %}">';

		s+= '</td>';

		{% if comment %}// display planet image or vortex{% endif %}
		s+=	'<td align=center rowspan=4 width="64">'+
			'<div><img class="planet" id="planett.'+idx+'" src="{% static 'exile/assets/planets/p' %}'+img+'.gif" width=64 height=64 oncontextmenu="showfleetselector('+idx+','+id+');return false;"></div><div class=planettext>'+idx+'</div>'+
			'</td>';

		{% if comment %}// display planet info: floor & space of the planet{% endif %}
		s+= '<td width="38">';

		if(floor!='' || space!='')
		{
			s+= '<a href="#" class=none onclick="return donothide(event)" onfocus="this.onmouseover()" onmouseover="showmenu(\'planet.'+idx+'\',\'Planète\',\'Terrain: '+floor+'<br>Espace: '+space+'<br>Abondance minerai: '+a_ore+'%<br>Abondance hydrocarbure: '+a_hydrocarbon+'%' + (vortex_strength>0?('<br>Stabilité vortex:' + vortex_strength):'') + '\')">'+
				'<img id="planet.'+idx+'" width=16 height=16 src="{% static 'exile/assets/map/sector/info.gif' %}">'+
				'</a>';
		}
		else
		if(vortex_strength!='0')
		{
			s+= '<a href="#" class=none onclick="return donothide(event)" onfocus="this.onmouseover()" onmouseover="showmenu(\'planet.'+idx+'\',\'Vortex\',\'Stabilité vortex:' + vortex_strength + '\')">'+
				'<img id="planet.'+idx+'" width=16 height=16 src="{% static 'exile/assets/map/sector/info.gif' %}">'+
				'</a>';
		}
		else
			s+= '<img width=1 height=16 src="{% static 'exile/assets/interface/spacer.gif' %}">';

		s+= '</td></tr>';


		s+= '<tr>'+
			'<td align=right><img width=1 height=16 src="{% static 'exile/assets/interface/spacer.gif' %}"></td>'+
			'<td align=left>';
		if(radar>0 || jammer!=0)
		{
			if(jammer==-1)
			{
				s+= '<a href="#" class="none" onclick="return donothide(event)" onfocus="this.onmouseover()" onmouseover="showmenu(\'radar.'+idx+'\',\'Radar brouillé\',\'\')">'+
					'<img id="radar.'+idx+'" width=16 height=16 src="{% static 'exile/assets/map/sector/radarjammed.gif' %}">';
			} else
			if(radar>0 && jammer==0)
			{
				s+= '<a href="#" class="none" onclick="return donothide(event)" onfocus="this.onmouseover()" onmouseover="showmenu(\'radar.'+idx+'\',\'Radar détecté\',\'Puissance: '+radar+'\')">'+
					'<img id="radar.'+idx+'" width=16 height=16 src="{% static 'exile/assets/map/sector/radar.gif' %}">';
			} else
			if(jammer>0)
			{
				s+= '<a href="#" class="none" onclick="return donothide(event)" onfocus="this.onmouseover()" onmouseover="showmenu(\'radar.'+idx+'\',\'Radar brouillé détecté\',\'Puissance radar: '+radar+'<br/>Brouillage: '+jammer+'\')">'+
					'<img id="radar.'+idx+'" width=16 height=16 src="{% static 'exile/assets/map/sector/radarjammed-known.gif' %}">';
			}
					
			s+= '</a>';
		}
		else
			s+= '<img width=1 height=16 src="{% static 'exile/assets/interface/spacer.gif' %}">';
		s+= '</td></tr>';

		s+= '<tr>';

		{% if comment %}// display frozen/sleep icon{% endif %}
		s+= '<td align=right>';
		if(frozen)
			s+= '<a href="#" class="none" title="En vacances"><img width=16 height=16 src="{% static 'exile/assets/map/sector/sleeping.gif' %}"></a>';
		else
		if(b_ore != '0' || b_hydrocarbon != '0')
			s+= '<a href="#" class="none" title="Prix d\'achat" onclick="return donothide(event)" onfocus="this.onmouseover()" onmouseover="showmenu(\'price.'+idx+'\',\'Achat de ressources\',\'' + (b_ore != '0'?'Minerai: ' + b_ore + '<br/>':'') + (b_hydrocarbon != '0'?'Hydrocarbure: ' + b_hydrocarbon + '<br/>':'') + '\')">' +
				'<img id="price.'+idx+'" width=16 height=16 src="{% static 'exile/assets/interface/credits.gif' %}"></a>';
		else
			s+= '<img width=1 height=16 src="{% static 'exile/assets/interface/spacer.gif' %}">';
		s+= '</td>';

		{% if comment %}// display fleets icon{% endif %}

		orb[idx] = orbit;

		s+= '<td align=left valign=top>';

		if(parked > 0 || orbit.length > 0)
		{
			var enemyfleets = false;
			for(var k=1; k<orbit.length; k++)
				if(orbit[k][4] < 0)
					enemyfleets = true;

			if(enemyfleets)
				f = "-enemy";
			else if(orbit.length > 0)
				f = "-fleets";
			else
				f = "";

			s+= '<a href="#" class="none" onclick="return donothide(event)" onfocus="this.onmouseover()" onmouseover="showmenu(\'fleets.'+idx+'\',\'Flottes\',descOrbit('+idx+','+id+','+rel+','+parked+'))">'+
				'<img id="fleets.'+idx+'" width=16 height=16 src="{% static 'exile/assets/map/sector/orbit' %}'+f+'.gif">'+
				'</a>';
		}
		else
			s+= '<img width=1 height=16 src="{% static 'exile/assets/interface/spacer.gif' %}">';

		s+= '</td></tr>';

		s+= '<tr>';

		{% if comment %}// display planets building elements{% endif %}

		elem[idx] = elements;

		s+= '<td align="right">';
		if(elements.length > 0)
		{
			s+= '<a href="#" class=none onclick="return donothide(event)" onfocus="this.onmouseover()" onmouseover="showmenu(\'elements.'+idx+'\',\'Spécial\',descSpecials('+idx+'))">'+
				'<img id="elements.'+idx+'" width=16 height=16 src="{% static 'exile/assets/map/sector/special.gif' %}">'+
				'</a>';
		}
		else
			s+= '<img width="1" height="16" src="{PATH_IMAGES}/interface/spacer.gif">';
		s+= '</td>';

		s+= '<td align="left" valign="top"><img width="1" height="16"></td>'+
			'</tr>';


		{% if comment %}// display planet name/alliance{% endif %}
		s+= '<tr><td colspan="3" align="center" class="planetname">';

		var n='';

		if(alliancetag != '') n+='<a href="{% url 'exile:alliance' %}?tag='+alliancetag+'" class="'+c+'">['+alliancetag+']</a>';

		if(rel==2)
		{
			if(floor>0 && space>0)
				n+= '<a href="{% url 'exile:planet' %}?planet='+id+'" class="'+c+'" title="Inspecter la planète '+name+'">'+name+'</a>';
			else
				n+= '<span class="'+c+'">'+name+'</span>';
		}
		else
		if(rel==-3 && isNaN(parseInt(img))) n+= '';
		else
		if(rel==-3) n+= '<span class="grey">inhabitée</span>';
		else
		{
			if(name=='') name=owner;
			if(owner=='')
				n+= '<span class="'+c+'" title="Planète occupée">Occupée</span>';
			else
				n+= '<a href="{% url 'exile:nation' %}?name='+owner+'" class="'+c+'" title="Voir les informations sur '+owner+'">'+name+'</a>';
		}

		if(n=='') n = '&nbsp;';

		s += n;

		s+= '</td></tr>'+
			'</table>'+
		'</div>';

	idx++;

	return s;
}

function displaySector(arr) {
	idx = 1;

	var s = "";
	for(var i=1; i<arr.length; i++) {
		var p = arr[i];
		s += loc(p[0], p[1], p[2], p[3], p[4], p[5], p[6], p[7], p[8], p[9], p[10], p[11], p[12], p[13], p[14], p[15], p[16], p[17], p[18], p[19], p[20]);
	}

	s += '<div class="clear"></div>';

	var obj = $('mapsectorview');
	obj.innerHTML = s;

	var obj = $('mapsector');
	obj.style.display = 'block';
	obj.style.visibility = 'visible';
}

function r(rel,tag,owner,fleetid,fleet,sig,f_id,f_name,f_g,f_s,f_p,f_rel,t_id,t_name,t_g,t_s,t_p,t_rel,time,losing) {
	var c = getRelationClass(rel);

	var s = '<tr class="smallitem"><td>';
	if(tag != '') s+= '<a href="{% url 'exile:alliance' %}?tag='+tag+'" class='+c+'>['+tag+']</a> ';
	s+= '<a href="{% url 'exile:nation' %}?name='+owner+'" title="Voir les informations sur '+owner+'" class="'+c+'">'+owner+'</a></td><td>';
	if(rel==2)
		s+= '<a href="{% url 'exile:fleet' %}?id='+fleetid+'" class="self">'+fleet+'</a>';
	else
		s+= '<a href="{% url 'exile:mails' %}?to='+owner+'" class="'+c+'" title="Envoyer un message à '+owner+'">'+fleet+'</a>';

	if(sig > 0)
		s+= ' ('+formatnumber(sig)+')';
	else
		s+= ' (indéterminé)';
	s+= '</td><td>';

	if(f_id != '')
		s+= planet_str(f_id,f_name,f_g,f_s,f_p,f_rel);
	else
		s+= '<span class="grey">Inconnue</span>';
	
	s+= '</td><td>';
	
	if(t_id != '')
		s+= planet_str(t_id,t_name,t_g,t_s,t_p,t_rel);
	else
		s+= '<span class="grey">Inconnue</span>';

	s+= '</td><td>'
	
	if(losing)
		s+= 'Perte du signal :&nbsp;<script>putcountdown1('+time+', "Signal perdu", "{% url 'exile:overview' %}");</'+'script>';
	else
		s+= '<script>putcountdown1('+time+', "Arrivé", "{% url 'exile:overview' %}");</'+'script>';
		
	s+= '</td></tr>';

	document.write(s);
}

function displayRadar() {
	var obj = $('mapradar');
	obj.style.display = 'block';
	obj.style.visibility = 'visible';
}
{% endif %}
</script>

<div id="map">
<p align="center">

<table>
<tr valign="top">
<td width="120">
	<table class="default" width="100%">
	<tr><td>
	<form method="get" action="?">
		<table class="clear">
			<tr><td nowrap colspan="2"><a href="#" onclick="openGalaxy(''); return false;">Univers</a></td></tr>
			<tr><td nowrap>{% if galaxy_link %}<a href="#" onclick="openGalaxy(currGalaxy); return false;">{% endif %}Galaxie{% if galaxy_link %}</a>{% endif %}</td><td><input type="text" name="g" id="locgalaxy" size="2" maxlength="2" autocomplete="off" value="{{ nav.galaxy }}"></td></tr>
			<tr><td nowrap>Secteur</td><td><input type="text" name="s" id="locsector" size="2" maxlength="2" autocomplete="off" value="{sector}"></td></tr>
			<tr><td colspan="2"><br/></td></tr>
			<tr><td align="center" colspan="2"><input type="submit" value="Localiser"></td></tr>
		</table>
	</form>
	</td></tr>
	</table>

	<br/>

	<table id="market" class="default hidden" width="100%">
		<tr><td>
		<table class="clear" width="100%">
			<tr><td colspan="2" style="text-align:center; font-weight:bold;">Marché</td></tr>
			<tr><td colspan="2">&nbsp;</td></tr>
			<tr><td>Min.</td><td><img src="{% static 'exile/assets/interface/credits.gif' %}" title="Crédits" class="icon" width="16" height="16"> <span id="market_ore"></span></td></tr>
			<tr><td colspan="2">&nbsp;</td></tr>
			<tr><td>Hydro.</td><td><img src="{% static 'exile/assets/interface/credits.gif' %}" title="Crédits" class="icon" width="16" height="16"> <span id="market_hydrocarbon"></span></td></tr>
		</table>
		</td></tr>
	</table>

	<br/>

	<table id="sovereignty" class="default hidden" width="100%">
		<tr><td>
		<table class="clear" width="100%">
			<tr><td colspan="2" style="text-align:center; font-weight:bold;">Souveraineté</td></tr>
			<tr><td colspan="2">&nbsp;</td></tr>
			<tr><td id="sov_tag_1"></td><td id="sov_perc_1" align="right"></td></tr>
			<tr><td colspan="2">&nbsp;</td></tr>
			<tr><td id="sov_tag_2"></td><td id="sov_perc_2" align="right"></td></tr>
			<tr><td colspan="2">&nbsp;</td></tr>
			<tr><td id="sov_tag_3"></td><td id="sov_perc_3" align="right"></td></tr>
		</table>
		</td></tr>
	</table>

	<br/>

	<table id="gal_open" class="default hidden" width="100%">
		<tr><td>
		<table class="clear">
			<tr><td style="text-align:center; font-weight:bold;">Ouverture</td></tr>
			<tr><td >&nbsp;</td></tr>
			<tr><td><span id="gal_open_dt"></span></td></tr>
		</table>
		</td></tr>
	</table>
</td>
<td align="center">
	{% if universe %}
	<div id="mapuniverse">
		<div id="mapuniverseview"></div>
	</div>
	<script>
	displayUniverse(
		new Array(0
		{% for k,galaxy in universe.galaxy.items %}
			{% if galaxy.visible %}
				, new Array({{ galaxy.galaxyid }}, 0{% if galaxy.hasplanet %}1{% endif %}, 0{% if galaxy.hasally %}1{% endif %}, 0{% if galaxy.hasfriend %}1{% endif %}, 0{% if galaxy.hasenemy %}1{% endif %})
			{% endif %}
		{% endfor %}
		)
	);</script>
	{% endif %}

	{% if galaxy %}
	<div id="mapgalaxy">
		<div id="mapgalaxyview"></div>
		<div class="clear"></div>
		<table width="450" id="maplegend">
		<tr><td onmouseover="startblink('nothing')" onmouseout="stopblink('nothing')"><img src="{% static 'exile/assets/map/galaxy/nothing.gif' %}" width=3 height=3> Système vide</td><td onmouseover="startblink('uninhabited')" onmouseout="stopblink('uninhabited')"><img src="{% static 'exile/assets/map/galaxy/uninhabited.gif' %}" width=3 height=3> Planète inhabitée</td><td onmouseover="startblink('hostile')" onmouseout="stopblink('hostile')"><img src="{% static 'exile/assets/map/galaxy/hostile.gif' %}" width=3 height=3> Planète hostile</td><td onmouseover="startblink('resource')" onmouseout="stopblink('resource')"><img src="{% static 'exile/assets/map/galaxy/resource.gif' %}" width=3 height=3> Ressources</td></tr>
		<tr><td onmouseover="startblink('friend')" onmouseout="stopblink('friend')"><img src="{% static 'exile/assets/map/galaxy/friend.gif' %}" width=3 height=3> Planète en PNA</td><td onmouseover="startblink('ally')" onmouseout="stopblink('ally')"><img src="{% static 'exile/assets/map/galaxy/ally.gif' %}" width=3 height=3> Planète alliée</td><td onmouseover="startblink('player')" onmouseout="stopblink('player')"><img src="{% static 'exile/assets/map/galaxy/player.gif' %}" width=3 height=3> Planète controlée</td><td onmouseover="startblink('vortex')" onmouseout="stopblink('vortex')"><img src="{% static 'exile/assets/map/galaxy/vortex.gif' %}" width=3 height=3> Vortex</td></tr>
		</table>
	</div>
	<script>displayGalaxy({{ galaxy.id }},'{{ galaxy.mapgalaxy }}',{{ galaxy.protected_until }},{{ galaxy.price_ore }},{{ galaxy.price_hydrocarbon }}, '{{ galaxy.sov_tag_1 }}', '{{ galaxy.sov_perc_1 }}', '{{ galaxy.sov_tag_2 }}', '{{ galaxy.sov_perc_2 }}', '{{ galaxy.sov_tag_3 }}', '{{ galaxy.sov_perc_3 }}');</script>
	{% endif %}

	{% if sector %}
	<div id="mapsector">
	<table>
	<tr class="border">
		<td><img src="{% static 'exile/assets/map/arrow_nw.gif' %}" class=arrow onclick="openSector({{ sector.galaxy }},{{ sector.sector0 }})"></td>
		<td align=center class=borderup><img src="{% static 'exile/assets/map/arrow_n.gif' %}" class=arrow onclick="openSector({{ sector.galaxy }},{{ sector.sector1 }})"></td>
		<td><img src="{% static 'exile/assets/map/arrow_ne.gif' %}" class=arrow onclick="openSector({{ sector.galaxy }},{{ sector.sector2 }})"></td>
	</tr>
	<tr>
		<td valign="middle" class="borderleft"><img src="{% static 'exile/assets/map/arrow_w.gif' %}" class=arrow onclick="openSector({{ sector.galaxy }},{{ sector.sector7 }})"></td>
		<td>
		<div class="map" id="mapsectorview"></div>
		</td>
		<td valign="middle" class="borderright"><img src="{% static 'exile/assets/map/arrow_e.gif' %}" class=arrow onclick="openSector({{ sector.galaxy }},{{ sector.sector3 }})"></td>
	</tr>
	<tr class="border">
		<td><img src="{% static 'exile/assets/map/arrow_sw.gif' %}" class=arrow onclick="openSector({{ sector.galaxy }},{{ sector.sector6 }})"></td>
		<td align="center" class="borderdown"><img src="{% static 'exile/assets/map/arrow_s.gif' %}" class=arrow onclick="openSector({{ sector.galaxy }},{{ sector.sector5 }})"></td>
		<td><img src="{% static 'exile/assets/map/arrow_se.gif' %}" class=arrow onclick="openSector({{ sector.galaxy }},{{ sector.sector4 }})"></td>
	</tr>
	</table>
	</div>
		<script>
			displaySector(new Array(0
				{% for k,pla in sector.planet.items %},new Array('{% if pla.vortex %}vortex{% elif pla.asteroids %}asteroids{% elif pla.clouds %}clouds{% elif pla.empty %}{% else %}{{ pla.planet_img }}{% endif %}', '{{ pla.alliancetag }}','{{ pla.planetid }}','{{ pla.ownername }}','{{ pla.planetname }}',{{ pla.relation }},{{ pla.radarstrength }},{{ pla.radarjamming }},'{{ pla.ore }}','{{ pla.hydrocarbon }}','{{ pla.floor }}','{{ pla.space }}','{{ pla.a_ore }}','{{ pla.a_hydrocarbon }}','{{ pla.vortex_strength }}',{% if pla.frozen %}true{% endif %}{% if pla.active %}false{% endif %},{{ pla.orbit.parked }}
				,new Array({% if pla.orbit %}0{% for i,fle in pla.orbit.fleet.items %},new Array({{ fle.fleetid }},'{{ fle.fleetname|escapejs }}','{{ fle.alliancetag|escapejs }}','{{ fle.fleetowner|escapejs }}',{{ fle.relation }},{{ fle.signature }},0{% if fle.fleeing %}1{% endif %}){% endfor %}{% endif %})
				,new Array({% if pla.elements %}0{% for i,elt in pla.elements.items %},'{{ elt|escapejs }}'{% endfor %}{% endif %})
				,'{{ pla.buy_ore }}','{{ pla.buy_hydrocarbon }}'
				){% endfor %}
			));
		</script>
	{% endif %}
</td></tr>

{% if radar %}
<tr><td colspan="2">
	<div id="mapradar">
	<table class="default" width="100%">
	<tr class="title"><td colspan="5">Activité Radar</td></tr>
	<tr class="header"><td>Nation</td><td>Flotte</td><td>Origine</td><td>Destination</td><td>Temps restant</td></tr>

	{% if radar.moving %}
		<tr class="category"><td colspan="5">Mouvements des flottes</td></tr>
		<script>
		{% for k,fle in radar.moving.fleet.items %}
			r({{ fle.relation }},"{{ fle.alliancetag }}","{{ fle.name|escapejs }}","{{ fle.fleetid }}","{{ fle.fleetname|escapejs }}",{{ fle.signature }},"{{ fle.f_planetid }}","{{ fle.f_planetname|escapejs }}","{{ fle.f_g }}","{{ fle.f_s }}","{{ fle.f_p }}",{{ fle.f_relation }},"{{ fle.t_planetid }}","{{ fle.t_planetname }}","{{ fle.t_g }}","{{ fle.t_s }}","{{ fle.t_p }}",{{ fle.t_relation }},{{ fle.time }}, {% if fle.losing %}true{% endif %}{% if fle.timeleft %}false{% endif %});
		{% endfor %}
		</script>
		{% if radar.moving.nofleets %}
		<tr class="smallitem"><td colspan="5" align="center">Aucun mouvement détecté</td></tr>
		{% endif %}
	{% endif %}

	{% if radar.entering %}
		<tr class="category"><td colspan="5">Flottes entrant dans le secteur</td></tr>
		<script>
		{% for k,fle in radar.entering.fleet.items %}
			r({{ fle.relation }},"{{ fle.alliancetag }}","{{ fle.name|escapejs }}","{{ fle.fleetid }}","{{ fle.fleetname|escapejs }}",{{ fle.signature }},"{{ fle.f_planetid }}","{{ fle.f_planetname|escapejs }}","{{ fle.f_g }}","{{ fle.f_s }}","{{ fle.f_p }}",{{ fle.f_relation }},"{{ fle.t_planetid }}","{{ fle.t_planetname }}","{{ fle.t_g }}","{{ fle.t_s }}","{{ fle.t_p }}",{{ fle.t_relation }},{{ fle.time }}, {% if fle.losing %}true{% endif %}{% if fle.timeleft %}false{% endif %});
		{% endfor %}
		</script>
		{% if radar.entering.nofleets %}
		<tr class="smallitem"><td align="center" colspan="5">Aucune flotte détectée</td></tr>
		{% endif %}
	{% endif %}

	{% if radar.leaving %}
		<tr class="category"><td colspan="5">Flottes sortant du secteur</td></tr>
		<script>
		{% for k,fle in radar.leaving.fleet.items %}
			r({{ fle.relation }},"{{ fle.alliancetag }}","{{ fle.name|escapejs }}","{{ fle.fleetid }}","{{ fle.fleetname|escapejs }}",{{ fle.signature }},"{{ fle.f_planetid }}","{{ fle.f_planetname|escapejs }}","{{ fle.f_g }}","{{ fle.f_s }}","{{ fle.f_p }}",{{ fle.f_relation }},"{{ fle.t_planetid }}","{{ fle.t_planetname }}","{{ fle.t_g }}","{{ fle.t_s }}","{{ fle.t_p }}",{{ fle.t_relation }},{{ fle.time }}, {% if fle.losing %}true{% endif %}{% if fle.timeleft %}false{% endif %});
		{% endfor %}
		</script>
		{% if radar.leaving.nofleets %}
		<tr class="smallitem"><td colspan="5" align="center">Aucune flotte détectée</td></tr>
		{% endif %}
	{% endif %}
	</table>
	</div>
	<script>
	displayRadar();
	</script>
</td></tr>
{% endif %}
</table>

</p>
</div>

<script>
setLoc('{{ nav.galaxy }}','{{ nav.sector }}');
</script>