{% load static %}
<div id="market">
<script type="text/javascript">
	var planets=[];
	{% for i,pla in planet.items %}
		planets.push({
			id:{{ pla.planet_id }},
			oreMax:{{ pla.ore_max }},
			hydroMax:{{ pla.hydrocarbon_max }},
			orePrice:{{ pla.ore_price2|floatformat }},
			hydroPrice:{{ pla.hydrocarbon_price2|floatformat }},
			total:0
		});
	{% endfor %}

	function getPlanet(id) {
		for(var i=0; i<planets.length; i++)
			if(planets[i].id == id)
				return planets[i];
		return null;
	}

	function updateprice(id) {
		var p = getPlanet(id);
		if(p == null) return;

		var ore = getval("o" + p.id);
		if(ore > p.oreMax) {
			ore = p.oreMax;
			setval("o" + p.id, p.oreMax);
		}

		var hydro = getval("h" + p.id);
		if(hydro > p.hydroMax) {
			hydro = p.hydroMax;
			setval("h" + p.id, p.hydroMax);
		}

		p.total = ore * p.orePrice + hydro * p.hydroPrice;

		var obj = $("totalprice" + p.id);

		if((obj != null) && (obj.innerHTML != formatnumber(p.total))) {
			obj.innerHTML = formatnumber(Math.round(p.total*100)/100.0);
{% if totalprice %}
			computetotal();
{% endif %}
		}
	}
{% if totalprice %}
	function computetotal() {
		var total={{ total }};

		for(var i=0; i<planets.length; i++) {
			var p = planets[i];
			var obj = $("totalprice" + p.id);
			total += parseInt(obj.innerHTML.replace(" ",""));
		}

		var obj = $("total");
		obj.innerHTML = formatnumber(total);
	}
{% endif %}
</script>

<form method="post" action="?a=sell{% if planetid %}&planet={{ planetid }}{% endif %}">
	{% csrf_token %}
	<input type="hidden" name="rel" value="1">

	<table class="default" width="750">
		<tr class="title"><td colspan="3">Vente de ressources</td></tr>
		<tr class="header"><td>Planète</td><td>Ressources</td><td width=100>Total</td></tr>
		{% for i,pla in planet.items %}
		<tr valign="middle" class="item{% if pla.highlight %}highlight{% endif %}">
			<td nowrap>
				<table cellpadding="0" cellspacing="0" class="clear">
				<tr>
					<td rowspan="3"><img src="{% static 'exile/assets/planets/p' %}{{ pla.planet_img }}.gif" class="smallplanet" width="64" height="64"></td>
					<td nowrap colspan="2"><b><a href="{% url 'exile:planet' %}?planet={{ pla.planet_id }}">{{ pla.planet_name }}</a> <a href="{% url 'exile:map' %}?g={{ pla.g }}&s={{ pla.s }}&p={{ pla.p }}">({{ pla.g }}.{{ pla.s }}.{{ pla.p }})</a></b></td>
				</tr>
				<tr><td><img src="{% static 'exile/assets/interface/ore.gif' %}" title="Minerai" width="16" height="16"></td><td align="left" nowrap>{% if pla.high_ore_capacity %}<span class="high2">{% endif %}{{ pla.planet_ore }} / {{ pla.planet_ore_capacity }}{% if pla.high_ore_capacity %}</span>{% endif %} (<span class=prod>+{{ pla.planet_ore_production }}</span>)</td></tr>
				<tr><td><img src="{% static 'exile/assets/interface/hydrocarbon.gif' %}" title="Hydrocarbure" width="16" height="16"></td><td align="left" nowrap>{% if pla.high_hydrocarbon_capacity %}<span class="high2">{% endif %}{{ pla.planet_hydrocarbon }} / {{ pla.planet_hydrocarbon_capacity }}{% if pla.high_hydrocarbon_capacity %}</span>{% endif %} (<span class=prod>+{{ pla.planet_hydrocarbon_production }}</span>)</td></tr>
				</table>
			</td>
			<td>
				<table cellpadding=0 cellspacing=2 class="clear" width="100%">
				<tr>
					<td width="16"><img src="{% static 'exile/assets/interface/ore.gif' %}" title="Minerai" width="16" height="16"></td>
					<td width="1%" nowrap><input type="text" id="o{{ pla.planet_id }}" name="o{{ pla.planet_id }}" value="{{ pla.ore }}" onkeyup="updateprice({{ pla.planet_id }})" size="3" maxlength="4"> x1000 (<img src="{% static 'exile/assets/interface/credits.gif' %}" class="icon" title="Credits" width="16" height="16"> {{ pla.ore_price }})</td>
					<td align="left"><a href="javascript:setval('o{{ pla.planet_id }}', {{ pla.ore_max }}); updateprice({{ pla.planet_id }})">Max</a></td>
					<td><a href="javascript:setval('o{{ pla.planet_id }}', 0); setval('h{{ pla.planet_id }}', 0); updateprice({{ pla.planet_id }})">Rien</a></td>
				</tr>
				<tr>
					<td width="16"><img src="{% static 'exile/assets/interface/hydrocarbon.gif' %}" title="Hydrocarbure" width="16" height="16"></td>
					<td width="1%" nowrap><input type="text" id="h{{ pla.planet_id }}" name="h{{ pla.planet_id }}" value="{{ pla.hydrocarbon }}" onkeyup="updateprice({{ pla.planet_id }})" size="3" maxlength="4"> x1000 (<img src="{% static 'exile/assets/interface/credits.gif' %}" class="icon" title="Credits" width="16" height="16"> {{ pla.hydrocarbon_price }})</td>
					<td align="left"><a href="javascript:setval('h{{ pla.planet_id }}', {{ pla.hydrocarbon_max }}); updateprice({{ pla.planet_id }})">Max</a></td>
					<td><a href="javascript:setval('o{{ pla.planet_id }}', {{ pla.ore_max }}); setval('h{{ pla.planet_id }}', {{ pla.hydrocarbon_max }}); updateprice({{ pla.planet_id }})">Tout</a></td>
				</tr>
				</table>
			</td>
			<td align="right"><img src="{% static 'exile/assets/interface/credits.gif' %}" class="res" title="Credits" width="16" height="16"><span id="totalprice{{ pla.planet_id }}">{{ pla.selling_price }}</span></td>
		</tr>
		{% endfor %}
		{% if totalprice %}
			<tr><td colspan="2" align="right">Total</td><td align=right><img src="{% static 'exile/assets/interface/credits.gif' %}" class="res" title="Credits" width="16" height="16"><span id="total">0</span></td></tr>
		{% endif %}
		{% if sell %}
			<tr><td colspan="3" align="center"><input type="submit" value="Vendre"></td></tr>
		{% endif %}
	</table>
</form>

{% if totalprice %}
<script type="text/javascript">computetotal();</script>
{% endif %}
</div>