{% load static %}
<table class="default" width="600">

<tr class="header">
<td><a href="?col=7{% if r7 %}&r=7{% endif %}{% if search_params %}&a={{ param_a }}{% endif %}">Tag</a>&nbsp;<a href="?col=1{% if r1 %}&r=1{% endif %}{% if search_params %}&a={{ param_a }}{% endif %}">Alliance</a></td>
{% if hide %}
<td><a href="?col=2{% if r2 %}&r=2{% endif %}{% if search_params %}&a={{ param_a }}{% endif %}">Score</a></td>
<td><a href="?col=5{% if r5 %}&r=5{% endif %}{% if search_params %}&a={{ param_a }}{% endif %}">Moyenne</a></td>
{% endif %}
<td><a href="?col=3{% if r3 %}&r=3{% endif %}{% if search_params %}&a={{ param_a }}{% endif %}">Membres</a></td>
<td><a href="?col=4{% if r4 %}&r=4{% endif %}{% if search_params %}&a={{ param_a }}{% endif %}">Colonies</a></td>
<td><a href="?col=6{% if r6 %}&r=6{% endif %}{% if search_params %}&a={{ param_a }}{% endif %}">Date de création</a></td>
</tr>

{% if nav %}
    <tr class="nav">
        <td colspan=4 align=left>Page {{ page_displayed }}, Alliances {{ page_first }}-{{ page_last }}. Aller à
        {% for k,p in nav.p.items %}&nbsp;{% if p.link %}<a href="?start={{ p.page_link }}{% if p.search_params %}&a={{ param_a }}{% endif %}&col={{ p.sort_column }}{% if p.reversed %}&r=1{% endif %}">{% endif %}{% if p.selected %}<span class="selected">{% endif %}{{ p.page_id }}{% if p.selected %}</span>{% endif %}{% if p.link %}</a>{% endif %}{% endfor %}
        </td>
    </tr>
{% endif %}
{% if noresult %}<tr><td colspan=4 align=center>Aucune alliance trouvée.</td></tr>{% endif %}
{% for k,alli in alliances.items %}
    <tr class="{% if alli.playeralliance %}ranking_alliance{% endif %}{% if alli.nap %}ranking_nap{% endif %}{% if alli.war %}ranking_war{% endif %}">
    	<td>{{ alli.place }}. <a href="{% url 'exile:alliance' %}?tag={{ alli.tag }}">[{{ alli.tag }}] {{ alli.name }}</a></td>
    	{% if hide %}
            <td align="right">{{ alli.score }}<br/><span class="{% if alli.plus %}plus{% endif %}{% if alli.minus %}minus{% endif %}"">{% if alli.plus %}+{% endif %}{{ alli.score_delta }}</span></td><td align=right>{{ alli.score_average }}</td>
        {% endif %}
    	<td align=right>{{ alli.members }} / {{ alli.max_members }}</td>
    	<td align=right>{{ alli.stat_colonies }}</td>
    	<td>{{ alli.created }}</td>
    </tr>
{% endfor %}
{% if nav %}
    <tr class="nav">
        <td colspan=4 align=left>Page {{ page_displayed }}, Alliances {{ page_first }}-{{ page_last }}. Aller à
        {% for k,p in nav.p.items %}&nbsp;{% if p.link %}<a href="?start={{ p.page_link }}{% if p.search_params %}&a={{ param_a }}{% endif %}&col={{ p.sort_column }}{% if p.reversed %}&r=1{% endif %}">{% endif %}{% if p.selected %}<span class="selected">{% endif %}{{ p.page_id }}{% if p.selected %}</span>{% endif %}{% if p.link %}</a>{% endif %}{% endfor %}
        </td>
    </tr>
{% endif %}
</table>
