{% load static %}{% load tz %}
<script>
function putlevel(level,levels){
	var s;

	if(levels <= 5)
		s = '<img src="{% static 'exile/assets/research/level' %}'+levels+'_'+level+'.gif" alt="Niveau '+level+'">';
	else
		s = level + '/' + levels;
	document.write(s);
}
</script>

<!-- display nation report -->

{% if nation %}
	<table class="default" width="800">
		<tr class="title"><td>Rapport d'espionnage</td></tr>
		{% if nation.spotted %}
			<tr><td><br/><p class="error">Attention, nos transmissions ont été repérées et la nation {{ nation.nation }} sait que nous avons opéré pour votre compte.</p><br/></td></tr>
		{% endif %}

		<tr class="category"><td>Informations au {{ nation.date|timezone:"Europe/Paris"|date:"d/m/Y H:i:s" }} concernant la nation {{ nation.nation }}.</td></tr>
		<tr class="item">
			<td>Agent : {% if nation.spy_0 %}Novice{% endif %}{% if nation.spy_1 %}Initié{% endif %}{% if nation.spy_2 %}Agent{% endif %}{% if nation.spy_3 %}Taupe{% endif %}<br/>
			Planètes repérées : {{ nation.nb_planet }}<br/>
			{% if credits %}Portefeuille : {{ nation.credits }} crédits<br/>{% endif %}
			{% if researches %}Recherches connues : {{ nation.nb_research }}{% endif %}
			</td>
		</tr>
	</table>

	{% if nation.researches.category %}
		<table class="default" width="800">
			<tr class="header"><td align="center">Recherche</td><td align="center">Niveau</td></tr>
			{% for k,cat in nation.researches.category.items %}
				<tr class="category"><td colspan=2>
					{% if k == 'category10' %}Technologies{% endif %}
					{% if k == 'category20' %}Industrie{% endif %}
					{% if k == 'category30' %}Empire{% endif %}
					{% if k == 'category40' %}Recherche{% endif %}
					{% if k == 'category50' %}Technologies militaires{% endif %}
					{% if k == 'category90' %}Vaisseaux spatiaux{% endif %}
				</td></tr>
				{% for j,res in cat.items %}<tr class="item"><td>{{ res.research }}</td><td align="center"><script>putlevel({{ res.level }},{{ res.levels }});</script></td></tr>{% endfor %}
				<tr class="clear"><td colspan=2>&nbsp;</td></tr>
			{% endfor %}
		</table>
	{% endif %}

	<table width="800" class="default">
		<tr class="header"><td align="center">Planète</td><td align="center" colspan=2>Superficie</td><td align="center" colspan=2>Abondance</td><td align="center">Vaisseaux au sol</td></tr>
		{% for key,pla in nation.planet.items %}
			<tr>
			<td align="center">{{ pla.planet }}&nbsp;<a href="{% url 'exile:map' %}?g={{ pla.g }}&s={{ pla.s }}&p={{ pla.p }}" title="Localiser la planète">({{ pla.g }}.{{ pla.s }}.{{ pla.p }})</a></td>
			<td align="right" width="1%"><img src="{% static 'exile/assets/interface/floor.gif' %}" class="icon" title="Terrain" width=16 height=16>{{ pla.floor }}</td>
			<td align="right" width="1%"><img src="{% static 'exile/assets/interface/space.gif' %}" class="icon" title="Espace" width=16 height=16>{{ pla.space }}</td>
			<td align="right" width="1%"><img src="{% static 'exile/assets/interface/ore.gif' %}" class="icon" title="Minerai" width=16 height=16>{{ pla.pct_ore }}%</td>
			<td align="right" width="1%"><img src="{% static 'exile/assets/interface/hydrocarbon.gif' %}" class="icon" title="Hydrocarbure" width=16 height=16>{{ pla.pct_hydrocarbon }}%</td>
			<td align="center"><img src="{% static 'exile/assets/interface/fleets.gif' %}" class="icon" title="Espace" width=16 height=16>{{ pla.ground }}</td>
			</tr>
		{% endfor %}
	</table>
{% endif %}

<!-- display fleets report -->

{% if fleets %}
	<table class="default" width="800">
	<tr class="title"><td>Rapport d'espionnage</td></tr>
	{% if fleets.spotted %}
		<tr><td><br/><p class="error">Attention, nos transmissions ont été repérées et la nation {{ fleets.nation }} sait que nous avons opéré pour votre compte.</p><br/></td></tr>
	{% endif %}

	<tr class="category"><td>Informations au {{ fleets.date|timezone:"Europe/Paris"|date:"d/m/Y H:i:s" }} concernant les flottes de {{ fleets.nation }}.</td></tr>
	<tr class="item">
		<td><div id="stats">
		<div><span class="label">Agent: </span><span class="value">{% if fleets.spy_0 %}Novice{% endif %}{% if fleets.spy_1 %}Initié{% endif %}{% if fleets.spy_2 %}Agent{% endif %}{% if fleets.spy_3 %}Espion militaire{% endif %}</span></div>
		<div><span class="label">Flottes repérées: </span><span class="value">{{ fleets.nb_fleet }}</span></div>
		</div></td>
	</tr>
	</table>

	<table width="800" class="default">
	<tr class="header">
	<td align="center">Flotte</td><td align="center">Taille</td><td align="center">Signature</td><td align="center">Localisation</td><td align="center">Destination</td>
	</tr>
	{% for key,fl in fleets.fleet.items %}
		<tr>
			<td>{{ fl.fleet }}</td>
			<td>{% if fl.size %}{{ fl.size }}{% endif %}{% if fl.nosize %}Inconnue{% endif %}</td>
			<td>{{ fl.signature }}</td>
			<td>{{ fl.location }}</td>
			<td>{% if fl.destination %}{{ fl.destination }}{% endif %}{% if fl.nodest %}-{% endif %}</td>
		</tr>
	{% endfor %}
	</table>
{% endif %}

<!-- display planet report -->


{% if planet %}

	<table class="default" width="800">
	<tr class="title"><td>Rapport d'espionnage</td></tr>
	{% if spotted %}
		<tr><td><br/><p class="error">Attention, nos transmissions ont été repérées et la nation {{ planet.nation }} sait que nous avons opéré pour votre compte.</p><br/></td></tr>
	{% endif %}

	<tr class="category"><td>Informations au {{ planet.date|timezone:"Europe/Paris"|date:"d/m/Y H:i:s" }} concernant la planète {{ planet.location }}.</td></tr>
	<tr class="item">
		<td><div id="stats"><span class="label">Agent: </span><span class="value">{% if planet.spy_0 %}Novice{% endif %}{% if planet.spy_1 %}Initié{% endif %}{% if planet.spy_2 %}Agent{% endif %}{% if planet.spy_3 %}Infiltrateur{% endif %}</span></div></td>
	</tr>
	</table>

	<table width="800" class="default">
	<tr class="category"><td>Informations générales</td></tr>

	<tr class="item">
		<td><div id="stats">
		<div><span class="label">Nom: </span><span class="value">{{ planet.name }}</span></div>
		<div><span class="label">Localisation: </span><span class="value">{{ planet.location }}</span></div>
		<div><span class="label">Nation: </span><span class="value">{% if planet.owner %}{{ planet.owner }}{% endif %}{% if planet.no_owner %}aucune{% endif %}</span></div>
		<div><span class="label">Terrains: </span><span class="value">{{ planet.floor }}</span></div>
		<div><span class="label">Espace: </span><span class="value">{{ planet.space }}</span></div>
	{% if planet.uncommon %}
		<div><span class="label">Abondance minerai: </span><span class="value">{{ planet.pct_ore }}%</span></div>
		<div><span class="label">Abondance hydrocarbure: </span><span class="value">{{ planet.pct_hydrocarbon }}%</span></div>
	{% endif %}
		<div><span class="label">Vaisseaux au sol (signature): </span><span class="value">{% if planet.owner %}{{ planet.ground }}{% endif %}{% if no_owner %}-{% endif %}</span></div>
		</div></td>
	</tr>

	{% if planet.common %}
		<tr class="category"><td>Industrie</td></tr>
		<tr class="item">
			<td><div id="stats">
			<div><span class="label">Production minerai: </span><span class="value">{{ planet.ore_prod }}</span></div>
			<div><span class="label">Production hydrocarbure: </span><span class="value">{{ planet.hydrocarbon_prod }}</span></div>
			<div>&nbsp;</div>
			<div><span class="label">Reserve / Capacité minerai: </span><span class="value">{{ planet.ore }} / {{ planet.ore_capacity }}</span></div>
			<div><span class="label">Reserve / Capacité hydrocarbure: </span><span class="value">{{ planet.hydrocarbon }} / {{ planet.hydrocarbon_capacity }}</span></div>
			<div><span class="label">Consommation / Production énergie: </span><span class="value">{{ planet.energy_consumption }} / {{ planet.energy_prod }}</span></div>
			</div></td>
		</tr>
	{% endif %}

	{% if planet.uncommon %}
		<tr class="category"><td>Radar & Orbite</td></tr>
		<tr class="item">
			<td><div id="stats">
			<div><span class="label">Puissance radar: </span><span class="value">{{ planet.radar_strength }}</span></div>
			<div><span class="label">Puissance du brouillage: </span><span class="value">{{ planet.radar_jamming }}</span></div>
			<div>&nbsp;</div>
			<div><span class="label">Minerai en orbite: </span><span class="value">{{ planet.orbit_ore }}</span></div>
			<div><span class="label">Hydrocarbure en orbite: </span><span class="value">{{ planet.orbit_hydrocarbon }}</span></div>
			</div></td>
		</tr>
	{% endif %}

	{% if planet.rare %}
		<tr class="category"><td>Population</td></tr>
		<tr class="item">
			<td><div id="stats">
			<div><span class="label">Effectif / Capacité travailleurs: </span><span class="value">{{ planet.workers }} / {{ planet.workers_cap }}</span></div>
			<div><span class="label">Effectif / Capacité scientifiques: </span><span class="value">{{ planet.scientists }} / {{ planet.scientists_cap }}</span></div>
			<div><span class="label">Effectif / Capacité soldats: </span><span class="value">{{ planet.soldiers }} / {{ planet.soldiers_cap }}</span></div>
			</div>
			</td>
		</tr>
	{% endif %}		

	</table>


	{% if planet.buildings %}
		<br/>
		<table width="800" class="default">
		<tr class="title"><td colspan="2">Constructions</td></tr>

		<tr class="header">
			<td>Nom</td>
			<td width="1%" nowrap>Quantité</td>
			</td>
		</tr>

		{% for key,bui in planet.buildings.items %}

		<tr class="item">
			<td>{{ bui.building }}</td>
			<td align="center">{{ bui.qty }}</td>
		</tr>
		{% endfor %}
		</table>
	{% endif %}

	{% if planet.buildings_pending %}
		<br/>
		<table width="800" class="default">
		<tr class="title"><td colspan="2">Constructions en cours</td></tr>

		<tr class="header">
			<td>Nom</td>
			<td width="1%" nowrap>Fin de construction prévue</td>
			</td>
		</tr>

		{% for key,bui in planet.buildings_pending.items %}

		<tr class="item">
			<td>{{ bui.building }}</td>
			<td align="center">{{ bui.endtime|timezone:"Europe/Paris"|date:"d/m/Y H:i:s" }}</td>
		</tr>
		{% endfor %}
		</table>
	{% endif %}

{% endif %}